<%= simple_form_for user, url: account_mobile_numbers_path, remote: true, html: { id: :mobile_nr_form } do |f| %>
  <%= f.label :mobile_nr_country_code %>
  <%= country_code_select(f) %>
  <div class="country_calling_code">
    <span id="country_calling_code"><%= country_code_field(f) %></span>
    <%= f.input :mobile_nr, required: false, label: false, input_html: { autocomplete: "off" }, placeholder: false %>
  </div>
  <div class="input">
  	<%= f.submit class: "btn btn-blue" %>
  </div>
<% end %>

<%= simple_form_for user, url: confirm_account_mobile_numbers_path, html: { id: :mobile_verification_code_form, style: "display:none;", class: "confirm-mobile-num-form"} do |f| %>
  <%= f.input :mobile_confirmation_code, input_html: { autocomplete: "off", style: "width: 250px; float: left; margin-right: 10px" }, maxlength: "6" %>
  <%= f.submit value: t(:"helpers.submit.user_as_mobile_number.confirm"), class: "btn btn-blue", style: "float left;" %>
<% end %>
