<%- if false -%>
<%= link_to "Create & Edit", "#" %><br>  
<%= link_to "Pricing", "#" %><br>
<%= link_to "Complete", "#" %> <br>   
<%- end -%>

<ul>
  <li><%= link_to "Edit Profile", edit_account_profile_path(current_user.profile) %></li>
  <li><%= link_to "Edit Photos", account_pictures_path %></li>
</ul>
