<div class="booking">
	<div class="photo">
		<%= image_tag deal.negotiator_for(current_user).avatar.url(:thumb), class: "avatar" %>
	</div>
	<div class="negotiator"><%= deal.negotiator_for(current_user).profile_name %></div>

	<div class="infos">
		<div class="date">
		    Booking amount
		</div>    
	    <% if deal.is_artist?(current_user) %>
	        <%= t(:"application.deals.show.you_will_earn") %>: <%= localized_price(deal.artist_price, deal.currency) %><br/>
	        <span class="hint">Artist'll pay: <%= localized_price(deal.customer_price, deal.currency) %></span>
	    <% else %>
	        <%= localized_price(deal.customer_price, deal.currency) %>
	    <% end %>
	</div>

	<div class="infos">
		<div class="date"><%= l deal.start_at, format: :event_date %></div>
		<%= link_to t(:"application.account.bookings.index.view_conversation"), account_conversation_path(deal.conversation_id), class: 'link' %>
	</div>

	<div class="actions">
      <%= link_to t(:"application.links.cancel"), "#" , data: { lightbox: :html, target: "[data-container='cancel-offer']" }, class: "btn btn-white" %>

	  <div style="display:none;" data-container="cancel-offer">
		  <div class="devise-lightbox cancel-offer">
		    <p>
		        <%= t(:"application.account.bookings.index.cancellation_prompt") %><br/>
		        <%= t(:"application.account.bookings.index.customer_prompt_html")  if deal.is_customer?(current_user) %>
		    </p>
		    <%= link_to t(:"application.links.cancel"), cancel_account_deal_path(deal), method: :put, class: "btn" if deal.is_customer?(current_user) %>
			<%= link_to t(:"application.links.cancel"), reject_account_deal_path(deal), method: :put, class: "btn" if deal.is_artist?(current_user) %>
			<p id="close-vex" class="btn btn-white"><%= t(:"application.account.bookings.index.nevermind") %></p>
		  	<p class="footnote">
		  	    <%= t(:"application.account.bookings.index.cancellation_hint_html", cancellation_policy_path: "#") if deal.is_customer?(current_user) %><br/>
                <%= t(:"application.account.bookings.index.support_hint_html") %>
		  	</p>
		  </div>
		</div>
	</div>
</div>