<div class="booking">
	<div class="photo">
		<%= image_tag deal.negotiator_for(current_user).avatar.url(:thumb), class: "avatar" %>
	</div>
	<div class="negotiator"><%= deal.negotiator_for(current_user).profile_name %></div>
	<div class="infos">
		<div class="date"><%= l deal.start_at, format: :event_date %></div>
		<%= link_to "View conversation history", account_conversation_path(deal.conversation_id), class: 'link' %>
	</div>

	<div class="actions">
	  <%= render "account/bookings/states/#{deal.state}", deal: deal %>
	</div>
</div>