<%= content_for :social_desc, "You can now book me on Sidestage." %>
<%= content_for :social_img, resource.user.avatar_url(:thumb) %>

<div id="bookings" class="container">
	<div class="content">
		<header><%= t(:"application.account.bookings.index.title") %></header>
		<% if collection.present? %>
			<div class="bookings">
			    <%= render partial: "deal", collection: collection %>
			</div>
		<% else %>
            <p><%= t(:"application.account.bookings.index.empty") %></p>
		<% end %>
		<% if current_user.artist? %>
			<section class="share">
				<p>To increase your visibility, and to get more booking requests, share your Sidestage profile on Facebook and Twitter.</p>
				<div class="btns">
					<%= link_to t(:"application.profiles.preview.share_modal.share_on_fb"), "http://www.facebook.com/sharer/sharer.php?u=#{artist_url(current_user.profile)}", class: "btn btn-facebook btn-inline" %>
					<%= link_to t(:"application.profiles.preview.share_modal.share_on_twitter"), "https://twitter.com/intent/tweet?text=You%20can%20now%20book%20me%20on%20Sidestage&url=#{artist_url(current_user.profile)}&via=sidestagehq", class: "btn btn-inline btn-twitter" %>
				</div>
			</section>
		<% end %>
	</div>
</div>