<% unless current_user.paymentable? %>
    <div class="payment-inputs">
        <% unless controller_name == "personals" %>
    	    <p><%= t(:"application.personals.payment_details.credit_card_form_title") %></p>
    	<% end %>
    	<div class="payment-status" style="display:none;"><%= t(:"application.deals.new.verification_message") %></div>
    	<div class="payment-errors" style="display:none;"></div>
    	<%= text_field_tag nil, nil, data: { stripe: :number }, placeholder: "#{t(:"simple_form.placeholders.credit_card.number")}", label: false, class: "paymentInput" %>	
    	<%#= text_field_tag nil, nil, data: { stripe: :expiry }, placeholder: "#{t(:"simple_form.placeholders.credit_card.expiry")}", label: false, class: "cc-exp" %>	
    	<%= nice_select(select_tag nil, options_for_select(1..12), data: { stripe: :exp_month }, prompt: "#{t(:"simple_form.placeholders.credit_card.exp_month")}") %>
    	<%= nice_select(select_tag nil, options_for_select(Time.now.year..10.years.from_now.year), data: { stripe: :exp_year }, prompt: "#{t(:"simple_form.placeholders.credit_card.exp_year")}") %>
        <%= text_field_tag nil, nil, data: { stripe: :cvc }, placeholder: "CCV", label: false, class: "cvc" %> 
    </div>
<% end %>
