<div class="wrap">
  <div class="devise">
    <h2>Resend confirmation instructions</h2>
    


    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, placeholder: "Email", label: false %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Resend confirmation instructions", class: "btn" %>
      </div>
    <% end %>

    <div class="bottom-link">
      <span><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), data: {lightbox: "ajax"} %></span>
    </div>

  </div>
</div>

