<div class="wrap">
  <div class="devise">
    <h2><%= t(:"application.devise.confirmations.title") %></h2>

    <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, placeholder: "Email", label: false %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t(:"application.devise.confirmations.resend"), class: "btn" %>
        <%= link_to t(:"application.devise.confirmations.did_not_receive"), new_unlock_path(resource_name), class: "link" %>
      </div>
    <% end %>

  </div>
</div>

