<header><%= t(:"application.personals.payment_details.title") %></header>
<% if current_user.paymentable? %>
  <h4><%= t(:"application.personals.payment_details.show.title") %></h4>
  <div class="credit-card-info">
    <p><%= current_user.credit_card.brand %></p>
    <p><%= t(:"activerecord.attributes.credit_card.number") %>: **** **** **** <%= current_user.credit_card.last4 %></p>
    <p><%= t(:"activerecord.attributes.credit_card.expiration") %>: <%= current_user.credit_card.expiration_human %></p>
    <div class="footnote">
      <p><%= t(:"application.personals.payment_details.show.card_hint_html") %></p>
    </div>
  </div>

  <div class="buttons">
    <%- if current_user.bookings.pending.present? -%>
      <%= link_to t(:"application.personals.payment_details.show.remove"), "#", class: "link", data: { lightbox: :html, target: "[data-container='remove-card']" } %>
    <%- else -%>
      <%= link_to t(:"application.personals.payment_details.show.remove"), remove_card_account_personal_path, method: :delete, data: { confirm: "#{t(:"helpers.confirm.sure")}" }, class: "link" %>
    <%- end -%>
  </div>

    <div style="display:none;" data-container="remove-card">
        <div class="devise-lightbox">
            <%= t(:"application.personals.payment_details.show.remove_hint_html") %>
        </div>
    </div>
  
<% else %>

    <p class="subtitle"><%= t(:"application.personals.payment_details.new.title") %></p>

    <div data-content="payment-form" id="payment" class="payment-form">
        <%= simple_form_for resource, url: request.path, data: { form: "payment" } do |f| %>
            <%= f.input :stripe_token, as: :hidden %>
            <%= render "account/payment_details/payment_form" %>
            <div class="btns">
                <%= f.submit value: (action_name == "complete_payment") ? t(:"helpers.submit.save_finish") : t(:"helpers.submit.credit_card.submit"), class: "btn" %>
                <%#= link_to t(:"application.personals.payment_details.skip"), skip_payment_account_personal_path %>
            </div>
        <% end %>
    </div>

    <div class="secure-text">
      <div class="header"><i class="fa fa-lock"></i> <%= t(:"application.conversations.show.security_hint_title") %></div>
      <p><%= t(:"application.conversations.show.security_hint_body_html") %></p>
    </div>
  
<% end %>