<aside>
	<div class="sidebar">
		<h4><%= t(:"application.personals.sidebar.account") %></h4>
		<%= link_to t(:"application.personals.sidebar.account_link"), account_personal_path %>
		<h4><%= t(:"application.personals.sidebar.security") %></h4>
	    <%= link_to t(:"application.personals.sidebar.security_link"), password_account_personal_path %>
	    <h4><%= t(:"application.personals.sidebar.phone") %></h4>
	    <%= link_to t(:"application.personals.sidebar.phone_link"), account_mobile_numbers_path %>
	    <h4><%= t(:"application.personals.sidebar.payment") %></h4>
	    <%= link_to t(:"application.personals.sidebar.payment_link"), payment_details_account_personal_path %>
	</div>
</aside>