<%= f.input :avatar, label: "Profile picture" %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :email %>
<%= f.input :about %>

<div class="input">
  <%= f.button :submit, value: "Update", class: "btn" %>
</div>
