<%= f.label :full_name, required: false %>
<%= f.input :full_name, label: false %>
<%= f.label :email, required: false %>
<%= f.input :email, label: false %>
<%#= f.input :about, label: "Tell our community something about you" %>

<div class="input">
  <%= f.submit class: "btn" %>
</div>
