<%= f.input :avatar, label: "Select Profile picture" %>
<%= f.input :first_name, label: false %>
<%= f.input :last_name, label: false %>
<%= f.input :email, label: false %>
<%#= f.input :about, label: "Tell our community something about you" %>

<div class="input">
  <%= f.button :submit, value: "Save", class: "btn" %>
</div>
