<div id="personals" class="container">
    <%= render "sidebar" %>

    <div class="content bank">
        <header><%= t(:"application.profiles.payment.title_html") %></header>
        <%= simple_form_for resource.profile, url: bank_details_account_personal_path do |f| %>
            <% if resource.profile.uk? || resource.profile.usa? %>
                <%= f.input :account_number, label: false %>
                <%= f.input :routing_number, label: false, placeholder: resource.profile.uk? ? t(:"simple_form.placeholders.profile.sort_code"): t(:"simple_form.placeholders.profile.routing_number") %>
            <% else %>
                <%= f.input :iban, label: false, placeholder: "IBAN" %>
                <%= f.input :bic, label: false, placeholder: "BIC / SWIFT Code" %>
            <% end %>

            <%= f.input :payout_name, label: false %>
            <%= f.input :payout_street, label: false %>
            <%= f.input :payout_street_2, label: false %>            
            <%= f.input :payout_city, label: false %>
            <%= f.input :payout_state, label: false %>
            <%= f.input :payout_postal_code, label: false %>
            <%= f.submit class: "btn" %>
        <% end %>
    </div>
</div>