<div id="personals" class="navigated container">
    <%= render partial: 'account/shared/navigation', locals: {page: :account} %>
    <%= render "sidebar" %>

    <div class="content bank">
        <header><%= t(:"application.profiles.payment.title_html") %></header>

        <% if resource.profile.balanced_payoutable? %>
            <div class="credit-card-info">
                <p><%= Profile.human_attribute_name(:routing_number) %>: *******<%= resource.profile.routing_number[-2, 2] %></p>
                <p><%= Profile.human_attribute_name(:account_number) %>: *******<%= resource.profile.account_number[-2, 2] %></p>
            </div>

            <div class="buttons">
                <%= link_to t(:"application.personals.payment_details.show.remove"), remove_bank_account_account_personal_path, method: :delete, class: "link", data: { confirm: t(:"helpers.confirm.sure") } %>
            </div>

        <% else %>

            <%= simple_form_for resource.profile, url: bank_details_account_personal_path, data: { form: resource.profile.usa? ? "bank_account" : nil } do |f| %>
                <div class="payment-status" style="display:none;"><%= t(:"application.deals.new.verification_message") %></div>
                <div class="payment-errors" style="display:none;"></div>
                <% if resource.profile.uk? || resource.profile.usa? %>
                    <%= f.input :balanced_token, as: :hidden if resource.profile.usa? %>
                    <%= f.input :routing_number, label: false, placeholder: resource.profile.uk? ? t(:"simple_form.placeholders.profile.sort_code"): t(:"simple_form.placeholders.profile.routing_number") %>
                    <%= f.input :account_number, label: false %>
                <% else %>
                    <%= f.input :iban, label: false, placeholder: "IBAN" %>
                    <%= f.input :bic, label: false, placeholder: "BIC / SWIFT" %>
                <% end %>

                <hr/>

                <%= f.input :payout_name, label: false %>

                <% if resource.profile.usa? %>
                    <%= f.input :payout_street, label: false %>
                    <%= f.input :payout_street_2, label: false %>
                    <div class="inputs">
                        <%= f.input :payout_city, label: false %>
                        <%= f.input :payout_state, label: false %>
                    </div>
                    <%= f.input :payout_postal_code, label: false %>
                <% else %>
                    <%= f.input :payout_address, as: :text, label: false %>
                <% end %>
                <div class="form-actions">
                    <%= f.submit class: "btn", value: t(:"helpers.submit.credit_card.submit") %>
                </div>
            <% end %>

        <% end %>

    </div>
</div>