<div id="personals" class="container">
    <%= render "sidebar" %>

    <div class="content">
        <header><%= t(:"application.profiles.payment.title_html") %></header>
        <%= simple_form_for resource.profile, url: bank_details_account_personal_path do |f| %>
            <%= f.input :iban %>
            <%= f.input :bic %>
            <%= f.submit class: "btn" %>
        <% end %>
    </div>
</div>