<div id="personals" class="container">
    <aside>
    	<div class="sidebar"></div>
    </aside>	

    <div class="content account">
        <header><%= t(:"application.personals.avatar.title") %><p><%= t(:"application.personals.avatar.desc") %></p></header>

        <%= simple_form_for resource, url: upload_avatar_account_personal_path, html: { data: { upload: :auto }, id: "user_account", multipart: true } do |f| %>
            <%= render "avatar_form", f: f %>
        	<%= link_to t(:"helpers.submit.save_continue"), complete_account_personal_path, method: :patch, class: "btn btn-blue btn-inline btn-save-continue" %>

        <% end %>
    </div>
</div>
