<div id="personals" class="navigated container">
  <%= render partial: 'account/shared/navigation', locals: {page: :account} %>
	<%= render "sidebar" %>

  <div class="content password">
    <header><%= t(:"application.personals.password.title") %></header>
    <%= simple_form_for resource, url: password_account_personal_path do |f| %>
      <%= f.input :current_password, input_html: { autocomplete: "off" }, label: false %>
      <%= f.input :password, html_input: { autocomplete: "off" }, label: false, placeholder: "#{t(:"simple_form.placeholders.user.new_password")}" %>
      <%= f.input :password_confirmation, html_input: { autocomplete: "off" }, label: false, placeholder: "#{t(:"simple_form.placeholders.user.new_password_confirmation")}" %>
      <div class="input">
      	<%= f.submit value: t(:"helpers.submit.user.update_password"), class: "btn" %>
      </div>
    <% end %>
  </div>
</div>