<div id="personals">
    
	<%= render "sidebar" %>

  <div class="content">
    <header>Password</header>
    <%= simple_form_for resource, url: password_account_personal_path do |f| %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <div class="input">
      	<%= f.button :submit, value: "Update", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>