<div id="personals" class="container">
    
	<%= render "sidebar" %>

  <div class="content">
    <header>Password</header>
    <%= simple_form_for resource, url: password_account_personal_path do |f| %>
      <%= f.input :current_password, input_html: { autocomplete: "off" }, label: false, placeholder: "Old password" %>
      <%= f.input :password, html_input: { autocomplete: "off" }, label: false, placeholder: "New password" %>
      <%= f.input :password_confirmation, html_input: { autocomplete: "off" }, label: false, placeholder: "New password confirmation" %>
      <div class="input">
      	<%= f.button :submit, value: "Update password", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>