<div id="personals" class="container">
    
  <%= render "sidebar" %>

  <div class="content">
    <header>Payments details</header>
    <% if current_user.paymentable? %>
      <h4>One credit card on file:</h4>
      <div class="credit-card-info">
        <p><%= current_user.credit_card.type %></p>
        <p>Card number: **** **** **** <%= current_user.credit_card.last4 %></p>
        <p>Expiration: <%= current_user.credit_card.expiration_human %></p>
        <div class="footnote">
          <p>You can currently only store one credit card. <br> More payment methods are coming.</p>
        </div>
      </div>

      <div class="buttons">
        <%- if current_user.deals.count > 0 -%>
          <%= link_to "Remove card", "#", class: "btn", data: { lightbox: :html, target: "[data-container='remove-card']" } %>
        <%- else -%>
          <!-- TODO: remove credit card path?? -->
          <%= link_to "Remove card", "#", method: :delete, data: { confirm: "Are you sure?" }, class: "btn" %>
        <%- end -%>
      </div>

      <div style="display:none;" data-container="remove-card">
        <div class="devise-lightbox">
          <h2>Wait!</h2>
          <p class="label">Before you remove your credit card, you need to cancel all your booking requests.</p>
        </div>
      </div>
      
    <% else %>
      <div class="footnote">
        <p>You have no credit card on file. Add one below.</p>
      </div>
      <div data-content="payment-form" class="payment-form">
        <%= simple_form_for resource, url: payment_details_account_personal_path, data: { form: "payment" } do |f| %>
          <%= f.input :stripe_token, as: :hidden %>
          <%= render "account/payment_details/payment_form" %>
          <%= f.button :submit, value: "Save credit card", class: "btn" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>