<div id="personals" class="container">
    
  <%= render "sidebar" %>

  <div class="content">
    <header><%= t(:"application.personals.payment_details.title") %></header>
    <% if current_user.paymentable? %>
      <h4><%= t(:"application.personals.payment_details.show.title") %></h4>
      <div class="credit-card-info">
        <p><%= current_user.credit_card.brand %></p>
        <p><%= t(:"activerecord.attributes.credit_card.number") %>: **** **** **** <%= current_user.credit_card.last4 %></p>
        <p><%= t(:"activerecord.attributes.credit_card.expiration") %>: <%= current_user.credit_card.expiration_human %></p>
        <div class="footnote">
          <p><%= t(:"application.personals.payment_details.show.card_count_hint_html") %></p>
        </div>
      </div>

      <div class="buttons">
        <%- if current_user.bookings.pending.present? -%>
          <%= link_to t(:"application.personals.payment_details.show.remove"), "#", class: "btn", data: { lightbox: :html, target: "[data-container='remove-card']" } %>
        <%- else -%>
          <%= link_to t(:"application.personals.payment_details.show.remove"), remove_card_account_personal_path, method: :delete, data: { confirm: "#{t(:"helpers.confirm.sure")}" }, class: "btn" %>
        <%- end -%>
      </div>

      <div style="display:none;" data-container="remove-card">
        <div class="devise-lightbox">
            <%= t(:"application.personals.payment_details.show.remove_hint_html") %>
        </div>
      </div>
      
    <% else %>
      <div class="footnote">
        <p><%= t(:"application.personals.payment_details.new.title") %></p>
      </div>
      <div data-content="payment-form" id="payment" class="payment-form">
        <%= simple_form_for resource, url: request.path, data: { form: "payment" } do |f| %>
          <%= f.input :stripe_token, as: :hidden %>
          <%= render "account/payment_details/payment_form" %>
          <div class="input">
            <%= f.submit value: t(:"helpers.submit.credit_card.submit"), class: "btn" %>
            <%= link_to t(:"application.links.skip"), account_mobile_numbers_path, class: "skip" %>
          </div>
        <% end %>
        <div class="footnote">
            <%= t(:"application.personals.payment_details.new.security_hint_html") %>
        </div>
      </div>
    <% end %>
  </div>
</div>