<div id="personals" class="container">
    
  <%= render "sidebar" %>

  <div class="content">
    <header>Payments details</header>
    <% if current_user.paymentable? %>
      <h4>One credit card on file:</h4>
      <div class="credit-card-info">
        <p><%= current_user.credit_card.type %></p>
        <p>Card number: **** **** **** <%= current_user.credit_card.last4 %></p>
        <p>Expiration: <%= current_user.credit_card.expiration_human %></p>

        <%= simple_form_for @credit_card, url: update_credit_card_account_personal_path, html: { id: "edit-credit-card", style: "display:none;" } do |f| %>
            <%= f.object.errors.full_messages if f.object.errors.full_messages.present? %>
            <%= f.input :name %>
            <%= nice_select(f.select :exp_month, 1..12) %>
            <%= nice_select(f.select :exp_year, Time.now.year..10.years.from_now.year) %>
            <%= f.button :submit, value: "Update", class: "btn" %>
        <% end %>

        <div class="footnote">
          <p>You can currently only store one credit card. <br> More payment methods are coming.</p>
        </div>
      </div>

      <div class="buttons">
        <a href="#" data-toggle="#edit-credit-card" class="btn">Update card</a>
        <!-- TODO: remove credit card button -->
        <a href="#" class="delete">Remove card</a>
      </div>
      
    <% else %>
      <div class="footnote">
        <p>You have no credit card on file. Add one below.</p>
      </div>
      <div data-content="payment-form" class="payment-form">
        <%= simple_form_for resource, url: payment_details_account_personal_path, data: { form: "payment" } do |f| %>
          <%= f.input :stripe_token, as: :hidden %>
          <%= render "account/payment_details/payment_form" %>
          <%= f.button :submit, value: "Save credit card", class: "btn" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>