<div id="personals" class="container">
  <%= render "sidebar" %>

  <div class="content">
    <header><%= t(:"application.personals.show.title") %></header>
		
		<%= simple_form_for resource, url: upload_avatar_account_personal_path, html: { id: "user_account", multipart: true } do |f| %>
		<div class="avatar-uploader">
			<div id="avatar" class="avatar">
				<%= render 'avatar' %>
			</div>
			<a href="#" id="avatar-upload-button"><%= t(:"simple_form.labels.user.avatar") %></a>
		</div>

		<div class="new-avatar" style="display:none;">
			<%= f.input :avatar, label: false, id: "avatar-file" %>
		</div>
		<% end %>

        <%= simple_form_for resource, url: account_personal_path, html: { id: "", multipart: true } do |f| %>
          <%= render "user_form", f: f %>
        <% end %>
        <p>
            <%= t(:"application.personals.show.delete_hint_html") %>
        </p>    
  </div>
</div>