<div id="personals" class="container">
  <%= render "sidebar" %>
  <div class="content account" data-container="dropzone">
    <header><%= t(:"application.personals.show.title") %></header>
		<%= simple_form_for resource, url: upload_avatar_account_personal_path, remote: true, html: { id: "user_account", multipart: true } do |f| %>
    		<label><%= t(:"simple_form.labels.user.avatar") %></label>
    		<%#= f.cl_image_upload(:image_id) %>            
    		<div class="avatar-uploader">
    			<div id="avatar" data-target="#cloudinary-direct" class="avatar avatar-upload-button">
    				<%= image_tag current_user.avatar.url(:thumb) %>
    			</div>
                <div class="hint">
                    Clear frontal face photos are an important way for our community to learn about each other. Please upload a photo that clearly shows your face. <br/>
                    <a href="" class="link avatar-upload-button" data-target="#cloudinary-direct">Upload a picture</a>
                </div>
                <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    		</div>

    		<div class="new-avatar" style="display:none;">
    			<%#= f.input :avatar, label: false, id: "avatar-file" %>
    			<%= f.cl_image_upload(:avatar, unique_filename: false, use_filename: true,  html: { id: "cloudinary-direct" }) %>
    		</div>
    	<% end %>

        <%= simple_form_for resource, url: account_personal_path, html: { id: "", multipart: true } do |f| %>
            <%= render "user_form", f: f %>
        <% end %>

        <p class="light">
            <%= t(:"application.personals.show.delete_hint_html") %>
        </p>        
  </div>
</div>