<div id="personals" class="container">
  <%= render "sidebar" %>

  <div class="content account">
    <header><%= t(:"application.personals.show.title") %></header>
		
		<%= simple_form_for resource, url: upload_avatar_account_personal_path, html: { data: { upload: :auto }, id: "user_account", multipart: true } do |f| %>
            <%= render "avatar_form", f: f %>
		<% end %>

        <%= simple_form_for resource, url: account_personal_path, html: { id: "", multipart: true } do |f| %>
            <%= render "user_form", f: f %>
        <% end %>

        <p class="light">
            <%= t(:"application.personals.show.delete_hint_html") %>
        </p>    
  </div>
</div>