<div class="devise-lightbox">
    <%= image_tag "sidestage_brand.png", alt: "Logo Brand", class: "logo_brand" %>

    <%= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name) do |f| %>
        <div class="form-actions login-signup-actions">
            <%= link_to t(:"application.devise.facebook_signup"), user_omniauth_authorize_path(:facebook), class: "btn btn-facebook" %>
        </div>

        <% if resource.errors.present? %>
            <div class="error-notification">
                <%= t(:"errors.messages.invalid_signup") %>
            </div>
        <% end %>

        <!-- NEWSLETTER SUBSCRIPTION -->
        <%= f.check_box :newsletter_subscribed, default: true, checked: true, class: "hidden" %><%#= t(:"simple_form.labels.user.newsletter_subscribed") %>

        <%= content_tag :span, id: "trigger-email-signup-form", class: "trigger-email-signup-form", style: "display:#{resource.errors.present? ? 'none;' : ''}" do %>
            Sign up with email
        <% end %>
        <%= content_tag :section, class: "signup-with-email", style: "display:#{resource.errors.blank? ? 'none;' : ''}" do %>
            <div class="form-inputs">
                <%= f.input :full_name, required: true, error: false, autofocus: true, label: false %>
                <%= f.input :email, required: true, error: false, autofocus: true, label: false %>
                <%= f.input :password, required: true, error: false, input_html: { autocomplete: "off" }, label: false %>
            </div>
            <div class="form-actions login-signup-actions">
                <%= f.button :submit, value: t(:"helpers.submit.user.sign_up"), class: "btn", data: { disable_with: "Sending..." } %>
            </div>
        <% end %>    

        <div class="footnote">
            <%= t(:"application.devise.sign_up_foot_note_html", terms_path: terms_path, privacy_path: privacy_path) %>
        </div>
    <% end %>

    <div class="bottom-link">
        <%= link_to "Already a Sidestage member? Log in", new_user_session_path %>
    </div>

</div>
