	<div id="new-profile" class="new-profile-form">

		<!-- # resource.errors.full_messages.inspect -->
		<%= simple_form_for resource, url: artists_path, html: { id: "profile-form" } do |f| %>

			<header>
				<h2><%= t(:"application.artists.new.title") %></h2>
				<p><%= t(:"application.artists.new.desc") %></p>
			</header>
			
			<div class="input big">
                <%= render "/account/profiles/artist_type", f: f %>
			</div>

			<%= render "/account/profiles/genres", f: f %>
            
			<div class="input city">
				<h3><%= t(:"simple_form.labels.profile.location") %></h3>
        		<%= f.input :location, as: :string, label: false %>
        		<%= f.input :latitude, as: :hidden %>
        		<%= f.input :longitude, as: :hidden %>
        		<%= f.input :country_short, as: :hidden %>
        		<%= f.input :country_long, as: :hidden %>
        		
			</div>
      		<div class="input">
      		    <%= f.submit class: "btn button btn-blue", value: "#{t(:"helpers.submit.profile.submit")}" %>
      		</div>

		<% end %>

	</div>
