<% if @profile.has_pictures? %>

    <% unless @profile.has_soundcloud? || @profile.has_youtube? %>

        <div id="profile_pictures" class="pictures-alone">
            <% @profile.pictures.limit(9).each do |pic| %>
                <%= render "artists/artist_picture", pic: pic, profile: @profile, klass: "" %>
            <% end %>
        </div>

    <% else %>

        <%= render "artists/artist_picture", pic: @profile.pictures[0], profile: @profile, klass: ("next-to-yt" if !@profile.has_soundcloud? && @profile.has_youtube?) %>

        <% if @profile.pictures.length == 1 %>

            <% if @profile.has_soundcloud? %>

                <div class="metro large sc"><%= soundcloud_widget %></div>

                <% if @profile.has_youtube? %>
                    <div class="metro very-large yt"><%= youtube_thumbnail %><%= play_button %></div>
                <% end %>

            <% else %>
                
                <div class="metro large yt"><%= youtube_thumbnail %><%= play_button %></div>

            <% end %>

        <% else %>

            <% if @profile.has_soundcloud? %>

                <% if @profile.has_youtube? %>
                    
                    <div class="metro large sc"><%= soundcloud_widget %></div>

                    <div class="picture-with-yt">
                        
                        <div class="metro large yt"><%= youtube_thumbnail %><%= play_button %></div>

                        <%= render "artists/artist_picture", pic: @profile.pictures[1], profile: @profile, klass: "next-to-yt" %>

                    </div>

                    <div id="profile_pictures" class="pictures-alone">
                        <% @profile.pictures[2..4].each do |pic| %>
                            <%= render "artists/artist_picture", pic: pic, profile: @profile, klass: "" %>
                        <% end %>

                        <% if load_more? %>
                            <div  data-container="rest-pictures" style="display:none;">
                                <% @profile.pictures[5..-1].each do |pic| %>
                                    <%= render "artists/artist_picture", pic: pic, profile: @profile, klass: "" %>
                                <% end %>
                            </div>
                            <div id="load-all-pictures" class="button-action">
                                <span>Load more</span>
                            </div>
                        <% end %>
                    </div>

                <% else %>

                    <div class="metro large sc"><%= soundcloud_widget %></div>

                    <div id="profile_pictures" class="pictures-alone">
                        <% @profile.pictures[1..6].each do |pic| %>
                            <%= render "artists/artist_picture", pic: pic, profile: @profile, klass: "" %>
                        <% end %>

                        <% if load_more? %>
                            <div  data-container="rest-pictures" style="display:none;">
                                <% @profile.pictures[7..-1].each do |pic| %>
                                    <%= render "artists/artist_picture", pic: pic, profile: @profile, klass: "" %>
                                <% end %>
                            </div>
                            <div id="load-all-pictures" class="button-action">
                                <span>Load more</span>
                            </div>
                        <% end %>
                    </div>

                <% end %>

            <% else %>
                
                <div class="metro large yt"><%= youtube_thumbnail %><%= play_button %></div>

                <div id="profile_pictures" class="pictures-alone">
                    <% @profile.pictures[1..6].each do |pic| %>
                        <%= render "artists/artist_picture", pic: pic, profile: @profile, klass: "" %>
                    <% end %>

                    <% if load_more? %>
                        <div  data-container="rest-pictures" style="display:none;">
                            <% @profile.pictures[7..-1].each do |pic| %>
                                <%= render "artists/artist_picture", pic: pic, profile: @profile, klass: "" %>
                            <% end %>
                        </div>
                        <div id="load-all-pictures" class="button-action">
                            <span>Load more</span>
                        </div>
                    <% end %>
                </div>

            <% end %>

        <% end %>

    <% end %>

<% else %>

    <% if @profile.has_soundcloud? %>
        <div class="metro very-large sc"><%= soundcloud_widget %></div>
    <% end %>

    <% if @profile.has_youtube? %>
        <div class="metro very-large yt"><%= youtube_thumbnail %><%= play_button %></div>
    <% end %>

<% end %>

<div style="display:none;" data-container="yt-widget">
    <div class="devise-lightbox yt-widget">
        <% if @profile.has_youtube? %>
            <%= youtube_widget %>
        <% end %>
    </div>
</div>