<% if resource.has_pictures? %>

    <% unless resource.has_soundcloud? || resource.has_youtube? %>

        <div id="profile_pictures" class="pictures-alone">
            <% resource.pictures.limit(9).each do |pic| %>
                <%= render "artists/artist_picture", pic: pic, resource: resource, klass: "" %>
            <% end %>
        </div>

    <% else %>

        <%= render "artists/artist_picture", pic: resource.pictures[0], resource: resource, klass: ("next-to-yt" if !resource.has_soundcloud? && resource.has_youtube?) %>

        <% if resource.pictures.length == 1 %>

            <% if resource.has_soundcloud? %>

                <div class="metro large sc"><%= soundcloud_widget %></div>

                <% if resource.has_youtube? %>
                    <div class="metro very-large yt"><%= youtube_thumbnail %><%= play_button %></div>
                <% end %>

            <% else %>
                
                <div class="metro large yt"><%= youtube_thumbnail %><%= play_button %></div>

            <% end %>

        <% else %>

            <% if resource.has_soundcloud? %>

                <% if resource.has_youtube? %>
                    
                    <div class="metro large sc"><%= soundcloud_widget %></div>

                    <div class="picture-with-yt">
                        
                        <div class="metro large yt"><%= youtube_thumbnail %><%= play_button %></div>

                        <%= render "artists/artist_picture", pic: resource.pictures[1], resource: resource, klass: "next-to-yt" %>

                    </div>

                    <div id="profile_pictures" class="pictures-alone">
                        <% resource.pictures[2..4].each do |pic| %>
                            <%= render "artists/artist_picture", pic: pic, resource: resource, klass: "" %>
                        <% end %>

                        <div  data-container="rest-pictures" style="display:none;">
                            <% resource.pictures[5..-1].each do |pic| %>
                                <%= render "artists/artist_picture", pic: pic, resource: resource, klass: "" %>
                            <% end %>
                        </div>

                        <% if load_more? %>
                            <div id="load-all-pictures" class="button-action">
                                <span>Load more</span>
                            </div>
                        <% end %>
                    </div>

                <% else %>

                    <div class="metro large sc"><%= soundcloud_widget %></div>

                    <div id="profile_pictures" class="pictures-alone">
                        <% resource.pictures[1..6].each do |pic| %>
                            <%= render "artists/artist_picture", pic: pic, resource: resource, klass: "" %>
                        <% end %>

                        <div  data-container="rest-pictures" style="display:none;">
                            <% resource.pictures[7..-1].each do |pic| %>
                                <%= render "artists/artist_picture", pic: pic, resource: resource, klass: "" %>
                            <% end %>
                        </div>

                        <% if load_more? %>
                            <div id="load-all-pictures" class="button-action">
                                <span>Load more</span>
                            </div>
                        <% end %>
                    </div>

                <% end %>

            <% else %>
                
                <div class="metro large yt"><%= youtube_thumbnail %><%= play_button %></div>

                <div id="profile_pictures" class="pictures-alone">
                    <% resource.pictures[1..6].each do |pic| %>
                        <%= render "artists/artist_picture", pic: pic, resource: resource, klass: "" %>
                    <% end %>

                    <div  data-container="rest-pictures" style="display:none;">
                        <% resource.pictures[7..-1].each do |pic| %>
                            <%= render "artists/artist_picture", pic: pic, resource: resource, klass: "" %>
                        <% end %>
                    </div>

                    <% if load_more? %>
                        <div id="load-all-pictures" class="button-action">
                            <span>Load more</span>
                        </div>
                    <% end %>
                </div>

            <% end %>

        <% end %>

    <% end %>

<% else %>

    <% if resource.has_soundcloud? %>
        <div class="metro very-large sc"><%= soundcloud_widget %></div>
    <% end %>

    <% if resource.has_youtube? %>
        <div class="metro very-large yt"><%= youtube_thumbnail %><%= play_button %></div>
    <% end %>

<% end %>

<div style="display:none;" data-container="yt-widget">
    <div class="devise-lightbox yt-widget">
        <% if resource.has_youtube? %>
            <%= youtube_widget %>
        <% end %>
    </div>
</div>