<nav class="tabs" data-id="social">
  <%- if resource.has_soundcloud? -%>
  <div class="tab-switch tab-switcher"><%= Profile.human_attribute_name(:soundcloud) %></div>
  <%- end -%>
  <%- if resource.has_youtube? -%>
  <div class="tab-switch tab-switcher"><%= Profile.human_attribute_name(:youtube) %></div>
  <%- end -%>
  <% if resource.has_pictures? %>
  <div class="tab-switch tab-switcher"><%= Profile.human_attribute_name(:photos) %></div>
  <% end %>
</nav>
<div class="tabs" data-id="social">
  <%- if resource.has_soundcloud? -%>
  <div class="tab">
    <%# TODO: Load Soundcloud async if possible %>
    <%= soundcloud_widget %>
  </div>
  <%- end -%>
  <% if resource.has_youtube? %>
  <div class="tab">
    <%# TODO: Load Youtube async if possible %>
    <%= youtube_widget %>
  </div>
  <%- end -%>

  <% if resource.has_pictures? %>
  <div class="tab">
    <div class="picture-viewer">
      <div class="thumbs">
        <%- resource.pictures.each do |pic| -%>
          <div class="thumb" data-review="<%= pic.picture.url(:preview) %>" data-caption="<%= pic.caption %>">
            <%= image_tag pic.picture.url(:thumb), alt: pic.caption || resource.name %>
          </div>
        <%- end -%>
      </div>
      <div class="picture">
        <img>
        <div class="gradient-overlay"></div>
        <div class="caption"></div>        
      </div>
    </div>
  </div>
  <% end %>
</div>
