<div id="artist">

  <div class="content">
    <div class="infos">

      <div class="like-btn">
        <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>

      <div class="tweet-btn">
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="small" data-text="Check out <%= resource.name %> on Sidestage" data-count="none">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
      <!-- 
      <span><i class="fa fa-tag"></i> <%= resource.genres.map(&:name).join(", ") %></span>
      <span><i class="fa fa-map-marker"></i> <%= resource.location %></span>
      <span><i class="fa fa-comment-o"></i> <%= resource.reviews.count %></span>
      -->
    </div> 
    
    <h2><%= resource.name %></h2>
    <p class="title"><%= resource.title %></p>

    <div class="about">
      <p><%= simple_format (strip_tags resource.about) %></p>
    </div>
    
    <nav class="tabs" data-id="social">
      <%- if has_soundcloud? -%>
      <div class="tab-switch">Soundcloud</div>
      <%- end -%>
      <%- if has_youtube? -%>
      <div class="tab-switch">Youtube</div>
      <%- end -%>
      <% if has_images? %>
      <div class="tab-switch">Photos</div>
      <% end %>
    </nav>

    <div class="tabs" data-id="social">
      <%- if has_soundcloud? -%>
      <div class="tab">
        <%# TODO: Load Soundcloud async if possible %>
        <%= soundcloud_widget %>
      </div>
      <%- end -%>
      <% if has_youtube? %>
      <div class="tab">
        <%# TODO: Load Youtube async if possible %>
        <%= youtube_widget %>
      </div>
      <%- end -%>

      <% if has_images? %>
      <div class="tab">
        <div class="picture-viewer">
          <div class="thumbs">
            <%- resource.pictures.each do |pic| -%>
              <div class="thumb" data-big-picture="<%= pic.picture.url(:preview) %>">
                <%= image_tag pic.picture.url(:thumb) %>
              </div>
            <%- end -%>
          </div>
          <div class="picture">
            <img>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    
    <div data-container="reviews" class="reviews">
      <h4>Reviews</h4>
      <% if resource.reviews.count <= 0 %>
        <p>This artist has no reviews yet.</p>
      <% else %>        
        <%= render partial: "account/reviews/review", collection: resource.reviews %>
      <% end %>
    </div>

    <% if current_user && current_user.id != resource.user_id %>
      <div class="new-review">
        <%= simple_form_for :review, url: account_profile_reviews_path(resource), remote: true, class: "review-form" do |f| %>
            <div class="star-rating star-rating-editable">
              <span>Rating:</span>
              <i class="fa fa-star rating-star rating-off"></i>
              <i class="fa fa-star rating-star rating-off"></i>
              <i class="fa fa-star rating-star rating-off"></i>
              <i class="fa fa-star rating-star rating-off"></i>
              <i class="fa fa-star rating-star rating-off"></i>
              <%= f.input :rate, as: :hidden, required: true %>
            </div>
            <%= f.input :body, as: :text, placeholder: "Your review", label: false %>
            <%= f.submit class: "btn", value: "Send" %>
        <%- end -%>
      </div>
    <% end %>

    <% if defined?(next_resource) && next_resource.present? %>
        <div class="next-artist right">
          <%= link_to artist_path(next_resource, params.except(:id)) do %>
            View next artist <i class='fa fa-angle-right'></i>
          <% end %>
        </div>
    <% end %>
    
  </div>

  <aside>

    <%# TODO: Finish Aside %>
    <div class="booking-teaser" data-container="deal">
      <div class="photo">
        <%= image_tag resource.user.avatar_url(:thumb) %>
      </div>
      <div class="name">
        <%= resource.name %>
      </div>
      <div class="label"><%= resource.location %></div>
  
      <%# TODO: Provide Helper to render price & currency properly %>
      <div class="price">
        <%= artist_price(resource) %>
      </div>
  
      <% if artist_contactable?(resource.user) %>
          <%= simple_form_for :deal, url: account_deals_path, remote: true, html: { id: 'quick-deal-request' } do |f| %>
  	          <%= f.input :profile_id, as: :hidden, input_html: { value: resource.id } %>
              <div class="date">
	              <%= f.input :start_at, as: :string, placeholder: "Event date", input_html: { class: "date-picker" }, label: false %>
                <i class="fa fa-calendar"></i>
              </div>
  
              <%# TODO: Submit Solution %>
  
              <div class="button">
                <% if current_user %>
                    <%= f.submit "Book Now", class: "btn btn-submit" %>
                <% else %>
                    <%= link_to "Book Now", link_or_signin(new_user_session_path(return_to: request.url)), class: "btn btn-submit", data: { lightbox: "ajax" } %>
                <% end %>
              </div>
          <% end %>
      <% end %>

      <% if artist_contactable?(resource.user)  %>
        <div class="label message-artist">
          <%= link_to "Message artist", link_or_signin(new_account_message_path(receiver_id: resource.user.id, format: :html)), data: { lightbox: "ajax" } %>
        </div>
      <% end %>
    </div>

  </aside>  

</div>