<div id="artist">

  <div class="content">
    <div class="infos">
      <span><i class="fa fa-tag"></i> <%= resource.genres.map(&:name).join(", ") %></span>
      <span><i class="fa fa-map-marker"></i> <%= resource.location %></span>
      <span><i class="fa fa-comment-o"></i> <%= resource.reviews.count %></span>
      <!-- <span class="right heart"><i class="fa fa-heart-o"></i></span> -->
    </div>
    
    <h2><%= resource.name %></h2>
    <p class="title"><%= resource.title %></p>

    <div class="about">
      <p><%= simple_format (strip_tags resource.about) %></p>
    </div>
    
    <nav class="tabs" data-id="social">
      <%- if has_soundcloud? -%>
      <div class="tab-switch">Soundcloud</div>
      <%- end -%>
      <%- if has_youtube? -%>
      <div class="tab-switch">Youtube</div>
      <%- end -%>
      <% if has_images? %>
      <div class="tab-switch">Photos</div>
      <% end %>
    </nav>

    <div class="tabs" data-id="social">
      <%- if has_soundcloud? -%>
      <div class="tab">
        <%# TODO: Load Soundcloud async if possible %>
        <%= soundcloud_widget %>
      </div>
      <%- end -%>
      <% if has_youtube? %>
      <div class="tab">
        <%# TODO: Load Youtube async if possible %>
        <%= youtube_widget %>
      </div>
      <%- end -%>

      <% if has_images? %>
      <div class="tab">
        <div class="picture-viewer">
          <div class="thumbs">
            <%- resource.pictures.each do |pic| -%>
              <div class="thumb" data-big-picture="<%= pic.picture.url(:preview) %>">
                <%= image_tag pic.picture.url(:thumb) %>
              </div>
            <%- end -%>
          </div>
          <div class="picture">
            <img>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    
    <div data-container="reviews" class="reviews">
      <h4>Reviews</h4>
      <% if resource.reviews.count <= 0 %>
        <p>This artist has no reviews yet.</p>
      <% else %>        
        <%= render partial: "account/reviews/review", collection: resource.reviews %>
      <% end %>
    </div>

    <% if current_user && current_user.id != resource.user_id %>
      <div class="new-review">
        <%= simple_form_for :review, url: account_profile_reviews_path(resource), remote: true, class: "review-form" do |f| %>
            <div class="star-rating star-rating-editable">
              <span>Rating:</span>
              <i class="fa fa-star rating-star rating-off"></i>
              <i class="fa fa-star rating-star rating-off"></i>
              <i class="fa fa-star rating-star rating-off"></i>
              <i class="fa fa-star rating-star rating-off"></i>
              <i class="fa fa-star rating-star rating-off"></i>
              <%= f.input :rate, as: :hidden, required: true %>
            </div>
            <%= f.input :body, as: :text, placeholder: "Your review", label: false %>
            <%= f.submit class: "btn", value: "Send" %>
        <%- end -%>
      </div>
    <% end %>

    <div class="next-artist right">
      <%= link_to "View next artist <i class='fa fa-angle-right'></i>".html_safe, "#" %>
    </div>

  </div>

  <aside>

    <%# TODO: Finish Aside %>
    <div class="booking-teaser" data-container="deal">
      <div class="photo">
        <%= image_tag resource.user.avatar_url(:thumb) %>
      </div>
      <div class="name">
        <%= resource.name %>
      </div>
      <div class="label"><%= resource.location %></div>
  
      <%# TODO: Provide Helper to render price & currency properly %>
      <div class="price">
        <%= artist_price(resource) %>
      </div>
  
      <% if artist_contactable?(resource.user) %>
          <%= simple_form_for :deal, url: account_deals_path, remote: true, html: { id: 'quick-deal-request' } do |f| %>
  	          <%= f.input :profile_id, as: :hidden, input_html: { value: resource.id } %>
              <div class="date">
	              <%= f.input :start_at, as: :string, placeholder: "Event date", input_html: { class: "date-picker" }, label: false %>
                <i class="fa fa-calendar"></i>
              </div>
  
              <%# TODO: Submit Solution %>
  
              <div class="button">
                <% if current_user %>
                    <%= f.submit "Book Now", class: "btn btn-submit" %>
                <% else %>
                    <%= link_to "Book Now", link_or_signin(new_user_session_path(return_to: request.url)), class: "btn btn-submit", data: { lightbox: "ajax" } %>
                <% end %>
              </div>
          <% end %>
      <% end %>

      <% if artist_contactable?(resource.user)  %>
        <div class="label message-artist">
          <%= link_to "Message artist", link_or_signin(new_account_message_path(receiver_id: resource.user.id, format: :html)), data: { lightbox: "ajax" } %>
        </div>
      <% end %>

      <div class="like-btn">
        <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fhttp://lvh.me:4000/&amp;layout=button_count&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp" style="overflow:hidden;width:110px;height:20px;" scrolling="no" frameborder="0" allowTransparency="true"></iframe><style>.fbook{position: absolute; font-color:#ddd; top:-1668px; font-size:10;}</style></style>
      </div>
      <div class="tweet-btn">
        <iframe allowtransparency="true" frameborder="0" scrolling="no" src="https://platform.twitter.com/widgets/tweet_button.html" style="width:90px; height:20px;"></iframe>
      </div>
    </div>

  </aside>  

</div>

<script>
  $(window).scroll(function(e) {
    // Get the position of the location where the scroller starts.
    var scroller_anchor = $("aside").offset().top;
     
    // Check if the user has scrolled and the current position is after the scroller start location and if its not already fixed at the top
    if ($(this).scrollTop() >= scroller_anchor && $('.scroller').css('position') != 'fixed')
    {    // Change the CSS of the scroller to hilight it and fix it at the top of the screen.
        $('.booking-teaser').css({
            'position': 'fixed',
            'top': '20px',
            'width': '230px'
        });
    }
    else if ($(this).scrollTop() < scroller_anchor && $('.scroller').css('position') != 'relative')
    {    // If the user has scrolled back to the location above the scroller anchor place it back into the content.
         
        // Change the CSS and put it back to its original position.
        $('.booking-teaser').css({
            'position': 'relative',
            'top': '0'
        });
    }
  });
</script>