<div id="artist">

  <div class="content">

    <h2><%= resource.user.name %></h2>
    <p><%= resource.title %></p>
    <div class="social-share-dummy"></div>
    <p><%= simple_format (strip_tags resource.about) %></p>
    
    <nav class="tabs" data-id="social">
      <%- if has_soundcloud? -%>
      <div class="tab-switch">Soundcloud</div>
      <%- end -%>
      <%- if has_youtube? -%>
      <div class="tab-switch">Youtube</div>
      <%- end -%>
      <% if has_images? %>
      <div class="tab-switch">Images</div>
      <% end %>
    </nav>

    <div class="tabs" data-id="social">
      <%- if has_soundcloud? -%>
      <div class="tab">
        <%# TODO: Load Soundcloud async if possible %>
        <%= soundcloud_widget %>
      </div>
      <%- end -%>
      <% if has_youtube? %>
      <div class="tab">
        <%# TODO: Load Youtube async if possible %>
        <%= youtube_widget %>
      </div>
      <%- end -%>

      <% if has_images? %>
      <div class="tab">
        <div class="picture-viewer">
          <div class="thumbs">
            <%- resource.pictures.each do |pic| -%>
              <div class="thumb" data-big-picture="<%= pic.picture.url(:preview) %>">
                <%= image_tag pic.picture.url(:thumb) %>
              </div>
            <%- end -%>
          </div>
          <div class="picture">
            <img>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="reviews">
      <h4>Reviews</h4>
      <div class="photo">
        <%= image_tag resource.user.avatar_url(:thumb) %>
      </div>
      <div class="body">
        <div class="dreieck"></div>
        <h5>Taylor Swift <span>20.05.14</span></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
        <div class="rating">
          <i class="fa fa-star active"></i>
          <i class="fa fa-star active"></i>
          <i class="fa fa-star active"></i>
          <i class="fa fa-star active"></i>
          <i class="fa fa-star"></i>
        </div>

      </div>
    </div>
    <% if current_user %>
        <%= simple_form_for :review, url: account_profile_reviews_path(resource), remote: true do |f| %>
            <%= f.input :rate %>
            <%= f.input :body %>
            <%= f.submit class: "btn gross" %>
        <% end %>
    <% end %>

  </div>

  <aside>

    <%# TODO: Finish Aside %>
    <div class="booking-teaser" data-container="deal">
      <div class="photo">
        <%= image_tag resource.user.avatar_url(:thumb) %>
      </div>
      <div class="name">
        <%= resource.name %>
      </div>

      <div class="label">from</div>
  
      <%# TODO: Provide Helper to render price & currency properly %>
      <div class="price">
        <%= artist_price(resource) %>
      </div>
  
      <% if artist_contactable?(resource.user) %>
          <%= simple_form_for :deal, url: account_deals_path, remote: true, html: { id: 'quick-deal-request' } do |f| %>
  	          <%= f.input :profile_id, as: :hidden, input_html: { value: resource.id } %>
              <div class="date">
	              <%= f.input :start_at, as: :string, placeholder: "Select date", input_html: { class: "date-picker" }, label: false %>
                <i class="fa fa-calendar"></i>
              </div>
  
              <%# TODO: Submit Solution %>
  
              <div class="button">
                <% if current_user %>
                    <%= f.submit "Book now", class: "btn btn-submit" %>
                <% else %>
                    <%= link_to "Book now", link_or_login(new_user_session_path(return_to: request.url)), class: "btn btn-submit", data: { lightbox: "ajax" } %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>

    <% if artist_contactable?(resource.user)  %>
      <div class="contact-artist">
        <%= link_to "Contact Artist", link_or_login(new_account_message_path(receiver_id: resource.user.id, format: :html)), data: { lightbox: "ajax" } %>
    <% end %>

  </aside>  

</div>

