<% @meta_title = "#{resource.name} artists profile on Sidestage.com" %>
<% @meta_desc = "Book #{resource.name} for your next party on Sidestage.com" %>
<% @social_img = resource.user.avatar_url(:thumb) %>
<% @social_desc = "Book #{resource.name} for your next party on Sidestage.com" %>


<section class="profile-header <%= ['background1', 'background2'].sample %>" style="<%= "background-image: url(#{resource.avatar});" if resource.avatar.present? %>">
  <%= link_to("edit header picture", avatar_account_profile_path, class: "action") if action_name == "preview" %>
</section>

<div id="artist">
  <div class="content">

    <%= render "artists/profile_header", profile: resource, header_class: "fixed" %>
    <%= render "artists/profile_header", profile: resource, header_class: nil %>

    <div class="about">
      <%= simple_format resource.about %>
    </div>

    <section class="metro">
      <section class="results profile_page">
        <%= render 'media_types' %>
      </section>
    </section>
    
    <%= render "reviews", profile: resource %>


    <% if false %>
      <% if defined?(next_resource) && next_resource(true).present? %>
          <div class="next-artist right">
            <%= link_to artist_path(next_resource) do %>
                <%= t(:"application.artists.show.view_next") %> <i class='fa fa-angle-right'></i>
            <% end %>
          </div>
      <% end %>
    <% end %>

  </div>
</div>
