<% @meta_title = "#{@profile.name} - Event entertainment and live music" %>
<% @meta_desc = "Book #{@profile.name} for your next party on Sidestage.com" %>
<% @social_img = @profile.user.avatar_url(:thumb) %>
<% @social_desc = "Book #{@profile.name} for your next party on Sidestage.com" %>


<section class="profile-header" style="<%= "background-image: url(#{@profile.avatar.url(:big)});" if @profile.avatar.present? %>">
    <%= link_to("edit header picture", avatar_account_profile_path, class: "action") if action_name == "preview" %>
</section>

<div id="artist">
    <div class="content">

        <%= render "artists/profile_header",  header_class: "fixed" %>
        <%= render "artists/profile_header",  header_class: nil %>

        <div class="about">
            <%= simple_format @profile.about %>
        </div>

        <section class="metro">
            <section class="results profile_page">
                <%= render 'artists/media_types' %>
            </section>
        </section>

        <%= render "artists/reviews", profile: @profile %>

    </div>
</div>
