<div id="artists">

  <aside>
    <header>
      Filter Artists
    </header>
    
  </aside>  

  <div class="content">
    <header>
      <div class="results-count"><%= collection.total_entries %> Artists found</div>
      <div class="results-order">
        <%= link_to "Popularity", nil, class: "active" %>
        <%= link_to "Name", nil %>
        <%= link_to "Price", nil %>
      </div>
    </header>
    
    <div class="results">
      <%= render partial: 'artists/artist', collection: collection %>  
    </div>
  </div>

</div>
