<% @meta_title = "Sidestage - Artists in #{@location}" %>
<%# @meta_desc = @social_desc = "Checkout Sidestage's #{@location} artists profiles and book the perfect live musicians or Dj for your next party." %>

<div id="artists">

    <div class="content">
        <header>
            <%= simple_form_for :filter, url: artists_path, method: :GET, remote: true, data: { auto_save: true }, html: { id: :artist_filter } do |f| %>
                <% request.query_parameters.each do |k,v| %>
                    <% next unless [:lat, :lng, :location].include?(k.to_sym) %>
                    <%= hidden_field_tag k, v %>
                <% end %>
                <span><%= t(:"simple_form.labels.filter.artist_type") %></span>
                <%= nice_select(select_tag :artist_type, options_from_collection_for_select([[0, "Solo artists"], [1, "Bands"], [2, "DJs"]], :first, :last, params[:artist_type]), prompt: t(:"helpers.select.prompts.artist_type_filter")) %>
                <span><%= t(:"simple_form.labels.filter.order") %></span>
                <%= nice_select(select_tag :column, options_from_collection_for_select([[Profile.human_attribute_name(:price), :price], [Profile.human_attribute_name(:name), :name]], :last, :first,  params[:column]))%>
            <% end %>
        </header>

        <div class="results" data-container="artists">
            <%= render partial: 'artists/artist', collection: collection %>  
        </div>
        <p class="center light">Looking for something special? <%= link_to "Tell us more, and we'll match you", match_mes_path %> with the perfect musician for your event.</p>
    </div>

</div>

<%= content_for :olark do %>
    <%= render "olark" %>
<% end %>