<% @meta_title = "Sidestage - Artists in #{@location}" %>
<% @meta_desc = "Checkout Sidestage's #{@location} artists profiles and book the perfect live musicians or Dj for your next party." %>

<div id="artists">

  <div class="content">
    <header>
      <div class="results-order">
        <%= sorty :name, class: "active" %>
        <%= sorty :price, label: "Price" %>
      </div>
    </header>
    
    <div class="results">
      <%= render partial: 'artists/artist', collection: collection %>  
    </div>
  </div>

</div>

<%= content_for :olark do %>
    <%= render "olark" %>
<% end %>