<div class="wrap">

	<div id="new-profile">

		<!-- # resource.errors.full_messages.inspect -->
		<%= simple_form_for resource, url: artists_path do |f| %>

			<header>
				<h2>List your Music!</h2>
				<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
			</header>
			
			<div class="input">
				<h3>How big is your Act?</h3>
				
				<div class="styled-radios">
					<div class="act radio">
						<div class="photo">
							<%= f.radio_button :solo, true %>
						</div>
						<div class="label">
							Solo Artist
							<%= f.radio_button :solo, true %>
						</div>
					</div>
					<div class="act radio">
						<div class="photo">
							<%= f.radio_button :solo, true %>
						</div>
						<div class="label">
							Band
							<%= f.radio_button :solo, true %>
						</div>
					</div>
				</div>

			</div>

			<div class="input genre">
				<h3>What describes your Genre best?</h3>

				<% genre_rest = Genre.all[3, Genre.count+1]; genre_one = Genre.all[0]; genre_two = Genre.all[1]; genre_three = Genre.all[2]	%>

				<div class="styled-radios">
					<div class="act radio">
						<div class="photo">
							<%= radio_button_tag 'profile[genre_ids][]', genre_one.id, f.object.genres.include?(genre_one) %>
						</div>
						<div class="label">
							<%= genre_one.name %>
							<%= radio_button_tag 'profile[genre_ids][]', genre_one.id, f.object.genres.include?(genre_one) %>
						</div>
					</div>
					<div class="act radio">
						<div class="photo">
							<%= radio_button_tag 'profile[genre_ids][]', genre_one.id, f.object.genres.include?(genre_one) %>
						</div>
						<div class="label">
							<%= genre_two.name %>
							<%= radio_button_tag 'profile[genre_ids][]', genre_two.id, f.object.genres.include?(genre_two) %>
						</div>
					</div>
					<div class="act radio">
						<div class="photo">
							<%= radio_button_tag 'profile[genre_ids][]', genre_one.id, f.object.genres.include?(genre_one) %>
						</div>
						<div class="label">
							<%= genre_three.name %>
							<%= radio_button_tag 'profile[genre_ids][]', genre_three.id, f.object.genres.include?(genre_three) %>
						</div>
					</div>
					<div class="act radio">
						<div class="photo">
						</div>
						<div class="label">
							<%= nice_select(select_tag 'profile[genre_ids][]', options_for_select(genre_rest.collect { |g| [g.name, g.id] }, (genre_rest & f.object.genres).first.try(:id)))  %>
						</div>
					</div>
				</div>

			</div>

			<div class="input city">
				<h3>Where do you live?</h3>

				<div id="city-switch">
		      <%= nice_select(f.select :location, available_locations, include_blank: false) %>
		    </div>
			</div>

		<div class="input last">
		    <!-- <input type="submit" value="Continue" class="btn button gross"> -->
		    <%= link_to "Continue", new_user_registration_path, data: {lightbox: "ajax"}, class: "btn button gross" %>
		</div>

		<% end %>

	</div>

</div>
