<div class="wrap">

	<div id="new-profile">

		<!-- # resource.errors.full_messages.inspect -->
		<%= simple_form_for resource, url: artists_path do |f| %>

			<header>
				<h2>List your Music!</h2>
				<p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas faucibus mollis interdum. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
			</header>
			
			<div class="input">
				<h3>How big is your Act?</h3>

				<div class="act">
					<div class="photo">
						<%= image_tag("splash/background.jpg") %>
					</div>
					<label class="active">Solo Artist</label>
				</div>
				<div class="act">
					<div class="photo">
						<%= image_tag("splash/background.jpg") %>
					</div>
					<label>Band</label>
				</div>
			</div>

			<div class="input genre">
				<h3>What describes your Genre best?</h3>
				
				<%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name, class: "genre" %>
			</div>

			<div class="input city">
				<h3>Where do you live?</h3>

				<div id="city-switch">
		      <%= nice_select(select_tag 'current_city', options_for_select(["Berlin", "Toronto"], "Berlin"), include_blank: false) %>
		    </div>
			</div>

		<% end %>

		<div class="input last">
			<span class="btn button gross">Continue</span>
		</div>

	</div>

</div>
