<h1><%= resource.user.name %></h1>
<p>
    <%= link_to "Book now", new_account_booking_request_path(profile_id: resource.id) %>
</p>
<p>
<%= link_to "Contact Me", new_account_outgoing_message_path(receiver_id: resource.user.id) %>
</p>
<p>
<strong>Genre</strong>
</p>
<p>
    <%= resource.genres.map(&:name).join(", ") %>
</p>    
<p>
<strong>Price</strong>
</p>
<p>
    <%= number_to_currency(price_in_current_currency(resource.price, resource.user.currency), unit: current_currency.name) %>
</p>

<p>
<strong>About</strong>
</p>
<p>
    <%= resource.about %>
</p>    
<p>
<strong>Style</strong>
</p>
<p>
    <%= resource.style %>
</p>