<div id="profile" class="container edit-profile">
  <aside class="menu">
    <%= render 'sidebar' %>
  </aside>

  <div class="content">
    <header><%= t(:"application.profiles.pricing.title_html") %></header>

    <div class="left-side">
      <p><%= t(:"application.profiles.pricing.desc") %></p>
      <br/><br/><br/>
      <p class="light"><%= t(:"application.profiles.pricing.hint_html", artist_type: "DJs", price: "$50") %></p>
    </div>

	  <div id="pricing" class="complete-pricing right-side">
	    <%= simple_form_for resource, url: pricing_account_profile_completion_path do |f| %>
	      <%= render "account/profiles/pricing_form", f: f %>
	    <% end %>
	  </div>
	</div>

	<aside class="hints">
    <header><%= t(:"application.profiles.sidebar.tips_hints") %></header>
    <%= t(:"application.profiles.pricing.tips_hints_html") %>
  </aside>
</div>