<h1>Complete your Profile</h1>
<%= simple_form_for resource, url: complete_account_personal_path, data: { form: "payment" }, html: { multipart: true } do |f| %>
    <%= f.input :stripe_token, as: :hidden %>	
    <%= f.label :about %>
    <%= f.text_area :about %>
    <%= f.file_field :avatar %>   
    <% unless current_user.paymentable? %>
        <h4>Add payment details</h4>
        <p>(Recommended but optional)</p>
        <%= render "account/payment_details/payment_form" %>
    <% end %>
    <input type="submit" value="Confirm">
    <%= link_to "Skip", account_root_path %>
<% end %>

<%= content_for :html_head do %>
    <%= render 'stripe_head' %>
<% end %>