<div id="dashboard" class="container">
    
    <nav class="navi-bar">
        <div class="full-w">
            <div class="row">
                <%= link_to "Dashboard", account_dashboard_path, class: "active" %>
                <%= link_to "Inbox", account_conversations_path %>
                <%= link_to t(:"application.menu.your_profile"), style_account_profile_path if current_user.artist? %>
                <%= link_to t(:"application.menu.my_bookings"), account_bookings_path %>
                <%= link_to t(:"application.menu.account"), account_personal_path %>
            </div>
        </div>
    </nav>

    <aside>
        <section class="box profile">
            <%= image_tag current_user.avatar.thumb.url %>
            <div class="body">
                <h1><%= current_user.profile_name %></h1>
                <% if current_user.artist? %>
                    <%= link_to t(:"application.menu.your_profile"), style_account_profile_path, class: "link" %>
                    <%= link_to t(:"application.profiles.sidebar.preview_link"), preview_account_profile_path, target: :_blank, class: "link" %>
                <% end %>
            </div>
        </section>

        <div class="links">
            <h4>Quick Links</h4>
            <ul>
                <li><%= link_to "Your Bookings", account_bookings_path %></li>
                <li><%= link_to "Account", account_personal_path %></li>
                <li><%= link_to "Sidestage FAQ", faq_path %></li>
            </ul>
        </div>

        <div class="links">
            <%= render partial: "application/community_links" %>
        </div>
    </aside>

	<div class="content">

        <!-- start alerts -->
        <% unless current_user.confirmed? %>
            <section class="box">
                <header><h3>Alerts</h3></header>
                <div id="alerts" class="list body">
                    <div class="item">
                        <p><%= t(:"application.alerts.confirm_html", password_reset_path: resend_confirmation_account_personal_path) %></p>
                        <div class="actions">
                            <!-- <span class="close">&#xd7;</span> -->
                        </div>
                    </div>
                </div>
            </section>
        <% end %>
        <!-- end alerts -->
        <% if current_user.artist? && current_user.profile.published? %>
            <section class="box">
                <div class="body share-to-friends">
                    <h3><%= t(:"application.dashboard.share.title") %></h3>
                    <p><%= t(:"application.dashboard.share.desc") %></p>
                    <div class="form">
                        <div id="form_success_message" style="display:none;"><%= t(:"application.dashboard.share.form_success_message") %></div>
                        <%= simple_form_for :friends, url: account_share_profiles_path, remote: true, html: { id: :share_profile_with_friends } do |f| %>
                            <%= f.input :emails, as: :string, required: false, wrapper: false, label: false %>
                            <%= f.submit class: "btn" %>
                        <% end %>
                        <div class="share">
                            <%= link_to "<i class='fa fa-facebook'></i> Facebook".html_safe, facebook_share_url(artist_url(current_user.profile)), class: "btn btn-facebook btn-inline", target: :_blank, onclick: "window.open(this.href, 'mywin', 'left=400,top=200,width=514,height=300,toolbar=1,resizable=0'); return false;" %>
                            <span>Share:</span>
                            <%= link_to "<i class='fa fa-twitter'></i>".html_safe, twitter_share_url(t(:"application.dashboard.invite.twitter"), artist_url(current_user.profile)), class: "light" %>
                        </div>
                    </div>
                    <p><%= t(:"application.dashboard.share.email_field_hint") %></p>
                </div>
            </section>
        <% end %>
	    
	    
	    <% unless current_user.mobile_nr_confirmed? %>
            <section class="box">
                <div class="body share-to-friends">
                    <h3><%= t(:"application.ashboard.phone.title") %></h3>
                    <p><%= t(:"application.dashboard.phone.desc") %></p>
	                <div class="form">
	                    
	                </div>
	            </dov>
	        </section>
	    <% end %>

        <!-- Start Messages -->
        <section class="box">
            <header><h3><%= Message.model_name.human(count: 2) %> (<%= current_user.unread_message_counter %> new)</h3></header>

            <div id="messages" class="body list">
                <% current_user.unarchived_conversations.limit(5).each do |conversation| %>
                    <%= content_tag :div, class: [:messages, :item] do %>
                    	<%= link_to(account_conversation_path(conversation), class: [conversation.messages.unread.by_receiver(current_user.id).exists? ? :unread : :read]) do %>
                    		<div class="ava">
                    			<%= image_tag conversation.negotiator_for(current_user).avatar.thumb.url, class: "avatar" %>
                    		</div>
                    		<div class="body">
                    			<%= simple_format(strip_tags(system_message_body(conversation)).truncate(75)) %>
                    			<p class="bottom"><%= conversation.negotiator_for(current_user).profile_name %> –– <span><%= l conversation.last_message_at, format: :conversation %></span></p>
                    		</div>
                    	<% end %>

                    	<div class="actions">
                    	    <%= "<p>Unread</p>".html_safe if conversation.messages.unread.by_receiver(current_user.id).exists?  %>
                    		<%= link_to "Archive", archive_account_conversation_path(conversation), method: :put unless conversation.archived_by?(current_user) %>
                    	</div>
                    <% end %>
                <% end %>
            </div>
            <footer>
                <%= link_to t(:"application.links.view_all_messages"), account_conversations_path %>
            </footer>
        </section>
        <!-- End Messages -->
        
	</div>
</div>