<div id="dashboard">
	<header>
		<div class="headline">
			Dashboard
		</div>
		<div class="links">
			<%= link_to "Inbox", account_conversations_path %>
			<%= link_to "Account", account_personal_path %>
		</div>
	</header>

	<div class="content">
		<% current_user.conversations.each do |conversation| %>

			<%= link_to(account_conversation_path(conversation)) do %>
				<div class="message">
					<div class="photo">
						<%= image_tag conversation.negotiator_for(current_user).avatar.url(:thumb), class: "avatar" %>
					</div>
					<div class="body">
						<h3><%= conversation.negotiator_for(current_user).name %></h3>
						<p>
							<!-- TODO: Pfeil nur anzeigen wenn letzte Nachricht von mir ist -->
							<i class="fa fa-reply"></i>
							<%= conversation.body %>
						</p>
					</div>
				</div>
			<% end %>	

		<% end %>
	</div>
</div>