<tr>
    <td>
        <%= link_to admin_user_path(user) do %>
            <%= image_tag user.avatar.mini %>
        <% end %>
    </td>
    <td><%= link_to user.full_name, admin_user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= user.mobile_nr %></td>
</tr>
