<h1>Statistics</h1>

<table class="table table-striped table-condensed table-hover">
    <tr>
        <td>Total published Profiles:</td>
        <td><%= Profile.published.count %></td>
    </tr>
    <tr>
        <td>Total unpublished Profiles:</td>
        <td><%= Profile.unpublished.count %></td>
    </tr>
    <tr>
        <td>Total individual messages (non system) sent:</td>
        <td><%= Message.non_system.count %></td>
    </tr>
    <tr>
        <td>Total conversations:</td>
        <td><%= Conversation.count %></td>
    </tr>     
    <tr>
        <td>Users (artists, non artists):</td>
        <td><%= User.count %></td>
    </tr>
    <tr>
        <td>Booking requests sent:</td>
        <td><%= Deal.count %></td>
    </tr>
    <tr>
        <td>Booking requests cancelled:</td>
        <td><%= Deal.cancelled.count %></td>
    </tr>
    <tr>
        <td>Booking requests declined by artist:</td>
        <td><%= Deal.declined.count %></td>
    </tr>
</table>

<h2>Pending Booking Requests</h2>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Customer</th>
        <th>Artist</th>
        <th>Message</th>
        <th>Artist price</th>
        <th>Last message</th>
    </thead>
    <% Deal.pending.latest.includes([:customer, :artist, :conversation, :profile]).each do |deal| %>
        <tr>
            <td><%= deal.customer.name %></td>
            <td><%= deal.profile.name %></td>
            <td><%= link_to "View", admin_conversation_messages_path(deal.conversation), remote: true %></td>
            <td><%= localized_price deal.price, deal.currency %></td>
            <td><%= l(deal.conversation.updated_at, format: :conversation) %></td>
        </tr>
    <% end %>
</table>

<h2>Past Booking</h2>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Customer</th>
        <th>Artist</th>
        <th>Message</th>
        <th>Price</th>
        <td>Artist payment</td>
        <th>Event Date</th>
    </thead>
    <% Deal.past.latest.includes([:customer, :artist, :conversation, :profile]).each do |deal| %>
        <tr>
            <td><%= deal.customer.name %></td>
            <td><%= deal.profile.name %></td>
            <td><%= link_to "View", admin_conversation_messages_path(deal.conversation), remote: true %></td>
            <td><%= localized_price (deal.charged_price / 100), deal.currency if deal.charged_price.present? %></td>
            <td><%= localized_price deal.price, deal.currency %></td>
            <td><%= l(deal.start_at, format: :conversation) %></td>
        </tr>
    <% end %>
</table>

<h2>Declined Booking Requests</h2>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Customer</th>
        <th>Artist</th>
        <th>Message</th>
        <th>Artist price</th>
        <th>Date declined</th>
    </thead>
    <% Deal.declined.latest.includes([:customer, :artist, :conversation, :profile]).each do |deal| %>
        <tr>
            <td><%= deal.customer.name %></td>
            <td><%= deal.profile.name %></td>
            <td><%= link_to "View", admin_conversation_messages_path(deal.conversation), remote: true %></td>
            <td><%= localized_price deal.price, deal.currency %></td>
            <td><%= l(deal.updated_at, format: :conversation) %></td>
        </tr>
    <% end %>
</table>
