<h1>Statistics</h1>

<table class="table table-striped table-condensed table-hover">
    <tr>
        <td>Total published Profiles:</td>
        <td><%= Profile.published.count %></td>
    </tr>
    <tr>
        <td>Total unpublished Profiles:</td>
        <td><%= Profile.unpublished.count %></td>
    </tr>
    <tr>
        <td>Total individual messages (non system) sent:</td>
        <td><%= Message.non_system.count %></td>
    </tr>
    <tr>
        <td>Total conversations:</td>
        <td><%= Conversation.count %></td>
    </tr>     
    <% if false %>
    <tr>
        <td>Users (artists, non artists):</td>
        <td><%= User.count %></td>
    </tr>
    <tr>
        <td>Booking requests sent:</td>
        <td><%= Deal.count %></td>
    </tr>
    <tr>
        <td>Booking requests cancelled:</td>
        <td><%= Deal.cancelled.count %></td>
    </tr>
    <tr>
        <td>Booking requests declined by artist:</td>
        <td><%= Deal.declined.count %></td>
    </tr>
    <% end %>
</table>

<h2>Current Conversations (having no bookings)</h2>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Message</th>
        <th>Last message</th>
    </thead>
    <% Conversation.having_no_deals.ordered_by_last_message.includes([:sender, :receiver]).each do |conversation| %>
        <tr>
            <td><%= conversation.sender.name %></td>
            <td><%= conversation.receiver.name %></td>
            <td><%= link_to "View", admin_conversation_messages_path(conversation), remote: true %></td>
            <td><%= l(conversation.updated_at, format: :conversation) %></td>
        </tr>
    <% end %>
</table>


<h2>Pending Booking Requests</h2>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Customer</th>
        <th>Artist</th>
        <th>Message</th>
        <th>Artist price</th>
        <th>Last message</th>
    </thead>
    <% Deal.pending.latest.includes([:customer, :artist, :conversation, :profile]).each do |deal| %>
        <tr>
            <td><%= deal.customer.name %></td>
            <td><%= deal.profile.name %></td>
            <td><%= link_to "View", admin_conversation_messages_path(deal.conversation), remote: true %></td>
            <td><%= localized_price deal.price, deal.currency %></td>
            <td><%= l(deal.conversation.updated_at, format: :conversation) %></td>
        </tr>
    <% end %>
</table>

<h2>Confirmed Bookings</h2>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Customer</th>
        <th>Artist</th>
        <th>Message</th>
        <th>Price</th>
        <th>Artist payment</th>
        <th>Event Date</th>
        <th>Bank Details</th>
        <th>Status</th>
    </thead>
    <%= render partial: "/admin/deals/confirmed_booking", collection: Deal.dealed.not_payed_out.latest.includes([:customer, :artist, :conversation, :profile]), as: :deal %>
</table>

<h2>Confirmed Bookings (that haven't yet happened)</h2>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Customer</th>
        <th>Artist</th>
        <th>Message</th>
        <th>Price</th>
        <th>Artist payment</th>
        <th>Event Date</th>
        <th>Bank Details</th>
        <th>Status</th>
    </thead>
    <%= render partial: "/admin/deals/confirmed_booking", collection: Deal.dealed.not_payed_out.latest.upcoming.future.includes([:customer, :artist, :conversation, :profile]), as: :deal %>
</table>

<h2>Past Booking</h2>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Customer</th>
        <th>Artist</th>
        <th>Message</th>
        <th>Price</th>
        <th>Artist payment</th>
        <th>Event Date</th>
    </thead>
    <% Deal.past.latest.includes([:customer, :artist, :conversation, :profile]).each do |deal| %>
        <tr>
            <td><%= deal.customer.name %></td>
            <td><%= deal.profile.name %></td>
            <td><%= link_to "View", admin_conversation_messages_path(deal.conversation), remote: true %></td>
            <td><%= localized_price (deal.charged_price / 100), deal.currency if deal.charged_price.present? %></td>
            <td><%= localized_price deal.price, deal.currency %></td>
            <td><%= l(deal.start_at, format: :conversation) %></td>
        </tr>
    <% end %>
</table>

<h2>Declined Booking</h2>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Customer</th>
        <th>Artist</th>
        <th>Message</th>
        <th>Artist price</th>
        <th>Date declined</th>
    </thead>
    <% Deal.undealed.latest.includes([:customer, :artist, :conversation, :profile]).each do |deal| %>
        <tr>
            <td><%= deal.customer.name %></td>
            <td><%= deal.profile.name %></td>
            <td><%= link_to "View", admin_conversation_messages_path(deal.conversation), remote: true %></td>
            <td><%= localized_price deal.price, deal.currency %></td>
            <td><%= l(deal.updated_at, format: :conversation) %></td>
        </tr>
    <% end %>
</table>

<h2>Declined Booking Requests</h2>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Customer</th>
        <th>Artist</th>
        <th>Message</th>
        <th>Artist price</th>
        <th>Date declined</th>
    </thead>
    <% Deal.declined.latest.includes([:customer, :artist, :conversation, :profile]).each do |deal| %>
        <tr>
            <td><%= deal.customer.name %></td>
            <td><%= deal.profile.name %></td>
            <td><%= link_to "View", admin_conversation_messages_path(deal.conversation), remote: true %></td>
            <td><%= localized_price deal.price, deal.currency %></td>
            <td><%= l(deal.updated_at, format: :conversation) %></td>
        </tr>
    <% end %>
</table>

<h2>Payed out Bookings</h2>
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Customer</th>
        <th>Artist</th>
        <th>Message</th>
        <th>Price</th>
        <th>Artist payment</th>
        <th>Event Date</th>
        <th>Bank Details</th>
        <th></th>
    </thead>
    <tbody id="payed_out_bookings">
        <%= render partial: "/admin/deals/confirmed_booking", collection: Deal.payed_out.latest.includes([:customer, :artist, :conversation, :profile]), as: :deal %>
    </tbody>
</table>