<div class="wrap">
  <div class="devise">
    <h2>Resend unlock instructions</h2>
    
    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :unlock_token %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, placeholder: "Email", label: false %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Resend unlock instructions", class: "btn" %>
      </div>
    <% end %>

    <div class="bottom-link">
      <span><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></span>
    </div>
  </div>
</div>
