<section class="metro">
	<a name="staffpicks"></a>
	<div class="wrap">
		<h2><%= t(:"application.home.index.featured_html") %></h2>

		<section class="results homepage">
			<%= link_to artist_path(@profiles.first), class: "metro large" do %>
				<%= render "artists/metro_artist", artist: @profiles.first, large: true %>
			<% end %>

			<% @profiles[1..2].each do |profile| %>
				<%= link_to artist_path(profile), class: "metro" do %>
					<%= render "artists/metro_artist", artist: profile, large: false %>
				<% end %>
			<% end %>

			<section id="newsletter" class="metro large omega">
		        <h2><%= t(:"application.home.index.newsletter") %></h2>
		        <a name="newsletter"></a>
		        
		        <%= render "mailchimp_subscription" %>
		    </section>

		    <% @profiles[3..4].each do |profile| %>
				<%= link_to artist_path(profile), class: "metro" do %>
					<%= render "artists/metro_artist", artist: profile, large: false %>
				<% end %>
			<% end %>

			<%= link_to artist_path(@profiles[5]), class: "metro omega" do %>
				<%= render "artists/metro_artist", artist: @profiles[5], large: false %>
			<% end %>

			<%= link_to artist_path(@profiles[6]), class: "metro large" do %>
				<%= render "artists/metro_artist", artist: @profiles[6], large: true %>
			<% end %>

			<%= link_to artist_path(@profiles[7]), class: "metro" do %>
				<%= render "artists/metro_artist", artist: @profiles[7], large: false %>
			<% end %>

		</section>

	</div>

</section>