<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<%= render 'head' %>

  <body id="main" class="desktop <%= "old-browser" if old_browser? %> homepage">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    

    <div id="splash" class="<%= ['background1', 'background2'].sample %>">
      <%= render 'header' %>

      <%= render 'flash' %>


      <div id="splash-content">
        
        <div id="text">
          <h2 class="text-shadow"><%= t(:"application.home.index.teaser.title") %></h2>
          <p class="text-shadow">
            <%= t(:"application.home.index.teaser.body") %>
          </p>
        </div>
        
      </div><!-- #splash-content -->

      <div id="animation-container" class="home">

        <div id="city-form">
            <%= simple_form_for :location, url: artists_path, method: :Get, html: { id: "homepage-search" } do |f| %>
                <%= text_field_tag :location, params[:location], id: :event_place_home, autofocus: true, data: { google: :event_place }, placeholder: t(:"simple_form.placeholders.location_search.location") %>
                <%= hidden_field_tag :lng, params[:lng] %>
                <%= hidden_field_tag :lat, params[:lat] %>
                <%= f.submit :submit, value: t(:"application.buttons.search"), name: nil, class: 'city-btn' %>
            <% end %>    
        </div>

      </div><!-- #animation-container -->

    </div><!-- #splash -->

    <% cache(action_suffix: :metro) do %>

        <%#= render 'metro' %>

        <%= render 'inspiration' %>

        <%= render 'footer' %>

        <%= render "olark" %>

        <%= render "google_analytics" %>

    <% end %>

    <%= render "modals" %>
  </body>
</html>
