<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sidestage</title>
    <meta name="description" content="Find and book amazing musicians, bands and DJs.">
    <meta name="keywords" content="Sidestage">
    <meta name="viewport" content="width=974">

    <!-- for Facebook -->
    <meta property="og:title" content="Sidestage" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.sidestage.com" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:description" content="Find and book amazing musicians, bands and DJs." />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Sidestage" />
    <meta name="twitter:description" content="Find and book amazing musicians, bands and DJs." />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= render "olark" %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  </head>
  <body id="main" class="desktop <%= "old-browser" if old_browser? %> homepage">
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    

    <div id="splash">
      <%= render 'header' %>

      <%= render 'flash' %>


      <div id="splash-content">
        
        <div id="text">
          <h2 class="text-shadow"><%= t(:"application.home.index.teaser.title") %></h2>
          <p class="text-shadow">
            <%= t(:"application.home.index.teaser.body") %>
          </p>
        </div>


        <div id="animation-container" class="home">

          <div id="city-form">
              <%= simple_form_for :location, url: artists_path, method: :Get, html: { id: "homepage-search" } do |f| %>
                  <%= text_field_tag :location, params[:location], id: :event_place_home, data: { google: :event_place }, placeholder: t(:"simple_form.placeholders.location_search.location") %>
                  <%= hidden_field_tag :lng, params[:lng] %>
                  <%= hidden_field_tag :lat, params[:lat] %>
                  <%= f.submit :submit, value: t(:"application.buttons.search"), name: nil, class: 'city-btn' %>
              <% end %>    
          </div>

        </div><!-- #animation-container -->
        
      </div><!-- #splash-content -->

    </div><!-- #splash -->

    
    <section id="staff-picks">
      <div class="wrap">
        <h2><%= t(:"application.home.index.featured") %></h2>

        <% @profiles.each do |profile| %>

          <%= content_tag :a, href: artist_path(profile), class: "artist" do %>
            <div class="photo">
              <%= image_tag profile.user.avatar_url(:thumb) %>
              <div class="text">
                <h3><%= profile.name %></h3>
                <p class="price"><%= t(:"application.artists.index.price_from") %> <%= artist_price(profile) %></p>
              </div>
              <div class="gradient-overlay"></div>
              <div class="overlay">
                <div class="view-profile"><%= t(:"application.artists.index.view_profile") %></div>
              </div>
            </div>
            <div class="label">
              <div class="genres"><%= profile.genres.map(&:name).join(", ") %></div>
            </div>
          <% end %>

        <% end %>
      </div>
    </section>

    <section id="newsletter">
      <div class="wrap">
        <h2><%= t(:"application.home.index.newsletter") %></h2>
        <%= render "mailchimp_subscription" %>

        <h4 class="light">Questions? Get in touch with our Customer Service team, <a class="light" href="mailto:bookings@sidestage.com">bookings@sidestage.com</a>.</h4>
      </div>
    </section>
    

    <%= render 'footer' %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%- if Rails.env.production? -%>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create', 'UA-51563182-1');ga('send','pageview');
    </script>
    <%- end -%>

     <%= render "olark" %>
    
  </body>
</html>
