<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sidestage</title>
    <meta name="description" content="Sidestage is a marketplace for hiring musicians.">
    <meta name="keywords" content="Sidestage">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div id="splash">

      <div class="row">
        <h1 id="logo">Sidestage</h1>  
      </div>
      
      <div class="row text-center">
        <div id="text">
          <h2 class="text-shadow">Get on our Guest List</h2>
          <p class="text-shadow">We're currently invite-only, but you can Sign Up for untethered access below.<br>Submit your email and we'll make sure you get in before the crowds.</p>
        </div>
      </div>

      <div class="row">
        <div id="animation-container">
          <div id="email-form">
            <%= simple_form_for :subscriber, url: create_subscriber_path, remote: true do |f| %>
              <%= f.text_field :email, placeholder: "Email Address" %>
              <%= f.submit :submit %>
            <%- end -%>
          </div><!-- email-form -->

          <div id="email-response">
            <p id="email-response-success" class="text-shadow" style="display:none">
              <strong>You're on Sidestage's guest list now.</strong><br>
              We'll be sure you get a heads up before we roll out the red carpet.
            </p>
            <p id="email-response-error" class="text-shadow" style="display:none">
              That email is already registered.
            </p>
          </div>

        </div><!-- animation-container -->
      </div><!-- .row -->


    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create', 'UA-51563182-1');ga('send','pageview');
    </script>

  </body>
</html>
