<section class="event">
	
	<div class="profile">
		<%= image_tag resource.user.avatar.url(:thumb) %>
	</div>

	<% if user_signed_in? %>
	    <p><%= t(:"application.events.show.desc", name: resource.user.profile_name, location: event_location_time(resource)) %>.</p>

	    <div class="btns choice">
	    	<%= link_to t(:"application.events.show.accept"), accept_event_path(resource), method: :put, class: "btn btn-inline" %>
	    	<br/>
	    	<%= link_to t(:"application.events.show.reject"), reject_event_path(resource), method: :put, class: "btn btn-inline btn-gray" %>
	    </div>
	<% else %>
	    <p><%= t(:"application.events.show.private_desc") %></p>

	    <div class="btns">
	    	<%= link_to t(:"application.devise.facebook_signin"), facebook_auth_forward_path, class: "btn btn-inline" %>
	    </div>
	<% end %>
</section>