<p style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">
    <b>Host info:</b>
    <br>
    <strong>Name <%= @event.user.profile_name %>:</strong><br>
    <strong>Email:</strong> @event.user.email<br>
    <strong>Birthday:</strong> <%= @event.user.birthday %><br>
    <strong>Mobile number:</strong> <%= @event.user.mobile_nr %><br>
</p>
<p style="color: #4a4a4a; font-size: 18px; margin: 50px 4%; font-weight: 300; line-height: 1.45;">
    <b>Event info:</b>
    <br>
    <strong>Booking for: <%= @event.booking_for %></strong><br>
    <strong>Date: <%= l @event.event_at %></strong><br>
    <strong>Musician type:</strong><%= @event.genre %><br>
    <strong>Street address:</strong> <%= @event.address %><br>
    <strong>Event phone:</strong> <%= @event.phone %><br>
</p>