<div class="input">
	<h3><%= t(:"simple_form.labels.profile.solo") %></h3>
	<div class="styled-radios">
		<div class="act radio">
			<div class="label"><%= t(:"activerecord.attributes.profile.solo_true") %></div>
			<%= f.radio_button :solo, true %>
		</div>
		<div class="act radio">
			<div class="label"><%= t(:"activerecord.attributes.profile.solo_false") %></div>
			<%= f.radio_button :solo, false %>
		</div>
	</div>
</div>  

<div class="genres">
	<%= render "account/profiles/genres", f: f %>
</div>

<div class="input city last">
	<h3><%= t(:"simple_form.labels.profile.location") %></h3>
	<%= nice_select(f.select :location, profile_available_locations, include_blank: false) %>
</div>
<%= render "account/profiles/submit", f: f %>
