<div class="input">
	<label><%= t(:"simple_form.labels.profile.solo") %></label>
	<div class="styled-radios">
		<div class="act radio">
			<div class="label"><%= t(:"activerecord.attributes.profile.solo_true") %></div>
			<%= f.radio_button :solo, true %>
		</div>
		<div class="act radio">
			<div class="label"><%= t(:"activerecord.attributes.profile.solo_false") %></div>
			<%= f.radio_button :solo, false %>
		</div>
	</div>
</div>  

<div class="genres">
	<%= render "genres", f: f %>
</div>

<div class="input city last">
	<label><%= t(:"simple_form.labels.profile.location") %></label>
	<%= nice_select(f.select :location, available_locations, include_blank: false) %>
</div>

<div class="input last">
	<%= f.submit class: "btn" %>
</div>