<div class="inputs profile_name">
	<%= f.input :name, hint: false, maxlength: '35' %>
	<p class="characters-counter"><span class="count"><%= 35 - f.object.name.to_s.length %></span> characters left</p>
</div>
<div class="inputs profile_title">
	<%= f.input :title, as: :string, hint: false, maxlength: '100' %>
	<p class="characters-counter"><span class="count"><%= 100 - f.object.title.to_s.length %></span> characters left</p>
</div>
<div class="inputs profile_about">
	<%= f.input :about, hint: false, maxlength: '750' %>
	<p class="characters-counter"><span class="count"><%= 750 - f.object.about.to_s.length %></span> characters left</p>
</div>

<div class="inputs profile_social_media">
	<%= f.input :facebook %>

	<div class="inputs twitter-field">
		<%= f.input :twitter %>
		<span>@</span>
	</div>
</div>

<%= render "account/profiles/submit", f: f %>