<div class="inputs">
	<%= f.input :name, placeholder: "Stage name", label: "Stage name" %>
</div>
<div class="inputs">
	<%= f.input :title, as: :string, placeholder: "One sentence to describe your act", label: "One sentence to describe your act" %>
	<div class="hint">Make sure it's catchy and unique.</div>
</div>
<div class="inputs">
	<%= f.input :about, placeholder: "Tell us about you and/or your act.", label: "Tell us about you and/or your act." %>
	<div class="hint">Your chance to tell everyone a bit more about you. How you got into music, what drive you. Anything that may be helpful for someone to know who may be hiring you.</div>
</div>
<hr>

<h4>Samples of your performance</h4>
<div class="inputs">
	<%= f.input :youtube, placeholder: "Paste youtube link here" %>
	<div class="hint">Post your best stuff, this is your chance to show people how you perform.</div>
</div>
<div class="inputs">
	<%= f.input :soundcloud, as: :text, placeholder: 'Post SoundCloud embed code here' %>	
</div>
<hr>

<h4>Social media links</h4>
<div class="inputs">
	<%= f.input :facebook, placeholder: "Facebook profile link" %>	
</div>
<div class="inputs">
	<%= f.input :twitter, placeholder: "@..." %>	
</div>

<%= f.button :submit, value: "Continue", class: "btn" %>