<aside>
  <header>
    
  </header>
  <%= render 'account/shared/sidebar_links' %>
</aside>

<div class="content">
  <header>
    Profile
  </header>
  
  <div>
    <%= simple_form_for [:account, resource] do |f| %>
			<%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
			<%= f.input :price %>
			<%= f.input :tagline %>
			<%= f.input :description %>
			<%= f.input :about %>	
			<%= f.input :style %>
			<%= f.input :youtube, placeholder: "http://" %>
			<%= f.input :soundcloud, placeholder: "http://" %>	
			<%= f.button :submit, class: "btn" %>
		<% end %>
  </div>
</div>
