<div class="input genre">
	<h3>What's closest to your style?</h3>

	<% genre_rest = Genre.all[3, Genre.count+1]; genre_one = Genre.all[0]; genre_two = Genre.all[1]; genre_three = Genre.all[2]	%>

	<div class="styled-radios">
		<div class="act radio">
			<div class="label">
				<%= radio_button_tag 'profile[genre_ids][]', genre_one.id, f.object.genres.include?(genre_one) %>
				<%= genre_one.name %>
			</div>
		</div>
		<div class="act radio">
			<div class="label">
				<%= radio_button_tag 'profile[genre_ids][]', genre_two.id, f.object.genres.include?(genre_two) %>
				<%= genre_two.name %>
			
			</div>
		</div>
		<div class="act radio">
			<div class="label">
				<%= radio_button_tag 'profile[genre_ids][]', genre_three.id, f.object.genres.include?(genre_three) %>
				<%= genre_three.name %>
			</div>
		</div>
		<div class="act radio">
			<div class="label">
				<%= nice_select(select_tag 'profile[genre_ids][]', options_for_select(genre_rest.collect { |g| [g.name, g.id] }, (genre_rest & f.object.genres).first.try(:id)), prompt: "Other")  %>
			</div>
		</div>
	</div>

</div>

<% if resource.errors.include?(:genre_ids) %>
    <div class="field_with_errors">
        <span class="error"><%= resource.errors[:genre_ids].first %></span>
    </div>
<% end %>