<h3><%= t(:"simple_form.labels.profile.location") %></h3>
<%= f.input :location, as: :string, label: false, placeholder: t(:"simple_form.placeholders.profile.location") %>
<%= f.input :latitude, as: :hidden %>
<%= f.input :longitude, as: :hidden %>
<%= f.input :country_short, as: :hidden %>
<%= f.input :country_long, as: :hidden %>
