<nav class="tabs" data-id="social">
    <div class="tab-switch"><%= Profile.human_attribute_name(:soundcloud) %></div>
    <div class="tab-switch"><%= Profile.human_attribute_name(:youtube) %></div>
    <div class="tab-switch"><%= Profile.human_attribute_name(:photos) %></div>
</nav>

<div class="tabs" data-id="social">
  <div class="tab">
    <% if resource.has_soundcloud? %>
      <%= soundcloud_widget %>
      <%= link_to t(:"application.links.remove"), remove_soundcloud_account_profile_path(resource), method: :put, class: "delete" %>
    <% else %>
      <div class="media-type-form">
        <p><strong><%= t(:"application.profiles.preview.soundcloud.title") %></strong></p>
        <span class="open-input-field"><%= t(:"simple_form.placeholders.profile.soundcloud") %></span>

        <%= link_to "What's this?", "#", class: "link", data: { lightbox: :html, target: "[data-container='help-sc']" } %>
        <div style="display:none;" data-container="help-sc">
          <div class="devise-lightbox">
            <h2>How to copy and paste SoundCloud Embed code into your Sidestage profile</h2>
            <%= image_tag 'sc-embed-help.png' %>
          </div>
        </div>
      </div>
      <div class="media-type-input-field">
        <%= simple_form_for resource, url: soundcloud_account_profile_path(resource) do |f| %>
          <%= f.input :soundcloud, hint: false, placeholder: "Copy and paste the SoundCloud Embed code here.", label: false %>
          <%= f.submit class: "btn btn-center btn-blue" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="tab">
    <% if resource.has_youtube? %>
      <%= youtube_widget %>
      <%= link_to t(:"application.links.remove"), remove_youtube_account_profile_path(resource), method: :put, class: "delete" %>
    <% else %>
      <div class="media-type-form">
        <p><strong><%= t(:"application.profiles.preview.youtube.title") %></strong></p>
        <span class="open-input-field"><%= t(:"simple_form.placeholders.profile.youtube") %></span>
      </div>
      <div class="media-type-input-field">
        <%= simple_form_for resource, url: youtube_account_profile_path(resource) do |f| %>
          <%= f.input :youtube, hint: false, placeholder: "Copy and paste the Youtube link here.", label: false %>
          <%= f.submit class: "btn btn-center btn-blue" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="picture-slider" class="tab">
    <%= render partial: "account/pictures/pictures" %>
  </div>

</div>