<div class="parts">
	<div class="headline">
		<p>What’s the minimum amount that you would like to make for a performance – regardless if it’s a 30 minutes or 2 hours? In short, this is the price that it takes to get you to an event. You can always change it later.</p> <br>
	</div>

	<label for="profile_currency">Select your default currency:</label>
	<div class="inputs profile_currency">
		<%= nice_select(f.select :currency, Currency.all.map(&:name)) %>
	</div>

	<label for="profile_price">How much do you want to make?</label>
	<div class="inputs profile_price">
		<%= f.input :price, as: :string, label: false, input_html: { data: { surcharge: Profile.surcharge_base, surcharged_label: "[data-container='surcharged-price']" }, maxlength: '5' } %>
	</div>

	<p class='light'>Price the customer will see (includes Sidestage's <br> fee of <%= Profile.surcharge_base %>%)</p>
	<div class="inputs profile_price">
		<span class="surcharged_price" data-container="surcharged-price"><%= resource.price_with_surcharge %></span>
	</div>

	<p><strong>Please read:</strong> Booking requests are only confirmed if you accept them. Before confirming a booking, you can increase the price to cover additional costs for that related booking.</p>
</div>

<% if false %>
<div class="parts">
	<div class="headline">
		<h4>Terms</h4>
	</div>
	<div class="inputs profile_cancellation_policy">
		<label>Cancellation Policy</label>
		<%#= nice_select(f.select :cancellation_policy, resource.cancellation_policy_for_select) %>
	</div>
	<div class="inputs profile_availability">
		<label>Where are you available?</label>
		<%= nice_select(f.select :availability, resource.availability_for_select) %>
		<div class="hint from-nice-select">This world is your stage. Live in one city, work in another.</div>
	</div>
</div>
<% end %>

<div class="parts">
	<div class="headline"></div>
	<div class="inputs">
		<%= f.button :submit, class: "btn", value: "Continue" %>
	</div>
</div>