	<%= f.input :price %>
	<%= f.select :currency, Currency.all.map(&:name) %>
	<h3>Terms</h3>
	Cancellation Policy<br>
	<%= f.select :cancellation_policy, resource.cancellation_policy_for_select %>
	<%= f.input :late_night_fee, as: :boolean %>
	<%= f.input :night_fee %>	
	Where are you available?
	<br/>
	<%= f.select :availability, resource.availability_for_select %>
	<br>
	<br>	
	<%= f.button :submit, class: "btn" %>