<div class="sidebar">
	<h4>Basics</h4>
	<%= link_to "- Settings", resource.new_record? ? "#" : basics_account_profile_path(resource) %>
	<%= link_to "- Pricing & terms", resource.new_record? ? "#" : pricing_account_profile_path(resource) %>
	<h4>Description</h4>
	<%= link_to "- Profile & content", resource.new_record? ? "#" : description_account_profile_path(resource) %>
	<h4>Photos</h4>
	<%= link_to "- Manage photos", resource.new_record? ? "#" : account_profile_pictures_path(resource) %>
	<h4>Payments</h4>
	<%= link_to "- Add payout method", resource.new_record? ? "#" : payment_account_profile_path(resource) %>
</div>