<div id="profile" class="container">
  <aside>
    <%= render 'sidebar' %>
  </aside>

  <div class="content account">
    <header><%= t(:"application.profiles.avatar.title_html") %></header>
    
    <div>
        <div id="picture-upload" class="picture-upload">
            <%= simple_form_for resource, url: avatar_account_profile_path, html: { data: { upload: :auto }, multipart: true } do |f| %>
                
                <div data-upload="trigger" style="display:none;">
                    <%= f.input :avatar, label: false, accept: 'image/png,image/gif,image/jpeg', multiple: true %>
                </div>
                
                <span data-upload="button" class="btn btn-blue btn-inline"><%= t(:"simple_form.labels.profile.avatar") %></span>
            <% end %>
            <!-- <div id="file-upload-status" style="display:none;"><div class="value" style=""></div></div> -->
        </div>

		<div class="avatar-uploader profile-avatar">
			<div id="avatar" class="avatar avatar-upload-button">
				<%= image_tag resource.avatar.url(:preview) if resource.avatar.present? %>
			</div>
            <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
      	</div>
    </div>
  </div>
</div>      
