<div id="profile" class="container edit-profile" data-container="profile_form">
  <%= render 'sidebar' %>

  <div class="content">
    <span id="saved-note" class="saved"><%= t(:"helpers.submit.saved") %></span>
    
    <header><%= t(:"application.profiles.description.title_html") %></header>
    <p class="desc"><%= t(:"application.profiles.description.desc") %></p>

    <div id="description">

      <div class="left-side">
        <%= simple_form_for resource.user, url: upload_avatar_account_personal_path, html: { data: { upload: :auto }, multipart: true } do |f| %>
          <% if resource.errors["user"].present? %>
              <span class="error"><%= resource.errors["user"].join(" ") %></span>
          <% end %>        
          <div class="avatar-uploader">
            <div id="avatar" class="avatar avatar-upload-button">
              <%= image_tag current_user.avatar.url(:thumb), class: "avatar", alt: current_user.full_name %>
            </div>
            
            <a href="#" class="btn avatar-upload-button"><%= t(:"simple_form.labels.profile.avatar") %></a>
            <p><%= t(:"application.profiles.description.hint") %></p>

            <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
          </div>

          <div class="new-avatar" style="display:none;">
            <%= f.input :avatar, label: false, id: "avatar-file" %>
          </div>
        <% end %>
      </div>

      <div class="right-side">
          <%= render "name_form" %>
          <%= render "title_form" %>
          <%= render "about_form" %>
          <%= render "social_form" %>
      </div>
    </div>
  </div>
  
  <aside class="hints">
    <header><%= t(:"application.profiles.sidebar.tips_hints") %></header>
    <%= t(:"application.profiles.description.tips_hints_html") %>
  </aside>
</div>