<div id="profile" class="container">
  <aside>
    <%= render 'sidebar' %>
  </aside>

  <div class="content description">
    <header><%= t(:"application.profiles.description.title_html") %></header>
    <div id="description" class="">
      <%= simple_form_for resource.user, url: upload_avatar_account_personal_path, html: { id: "user_account", multipart: true } do |f| %>
        <label>Profile picture</label>
        <div class="avatar-uploader">
          <div id="avatar" class="avatar avatar-upload-button">
            <%= render 'avatar' %>
          </div>
          <div class="loader"></div>
        </div>

        <div class="new-avatar" style="display:none;">
          <%= f.input :avatar, label: false, id: "avatar-file" %>
        </div>
      <% end %>

      <%= simple_form_for resource, url: description_account_profile_path(resource) do |f| %>
        <%= render "description_form", f: f %>
      <% end %>
    </div>
  </div>

</div>
    
    