<div id="profile">

    <aside>
      <%= render 'account/shared/sidebar_links' %>
    </aside>

    <div class="content">
      <header>
        Profile
      </header>

      <div class="">
        <%= simple_form_for [:account, resource] do |f| %>
    	<div class="styled-radios">
    		<div class="act radio">

    			<div class="photo"></div>
    			<div class="label">
    				Solo Artist
    			</div>
    			<%= f.radio_button :solo, true %>
    		</div>
    		<div class="act radio">

    			<div class="photo"></div>
    			<div class="label">
    				Band
    			</div>
    			<%= f.radio_button :solo, false %>
    		</div>
    	</div>  
    		<%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name %>
    	    <%= f.select :location, available_locations, include_blank: false %>
    		<%= f.input :tagline %>
    		<%= f.button :submit, class: "btn" %>
    	<% end %>
      </div>
      <hr>
      
      <h1>Ich würde die unteren beide Blöcke zugeklappt rendern und nur beim Klick in sidebar entsprechendes Element aufklappen.</h1>
      
      <header>
        Pricing
      </header>
      <%= simple_form_for [:account, resource] do |f| %>
          <%= render "pricing_form", f: f %>
    <% end %>      
        <hr>
      <header>
        Complete
      </header>
      <%= simple_form_for [:account, resource] do |f| %>
        <%= render "complete_form", f: f %>  
      <% end %>

    </div>



</div>
