<div id="profile" class="container edit-profile">
    <%= render 'sidebar' %>

    <div id="location" class="content">
        <span id="saved-note" class="saved"><%= t(:"helpers.submit.saved") %></span>
        
        <header><%= t(:"application.profiles.location.title_html") %></header>

        <div class="left-side">
            <p class="desc"><%= t(:"application.profiles.location.desc") %></p>
            <p class="light"><%= t(:"application.profiles.location.hint") %></p>
        </div>
        <div class="right-side location-input">
            <%= render "geo_form" %>
        </div>
    </div>
    <aside class="hints">
        <header><%= t(:"application.profiles.sidebar.tips_hints") %></header>
        <%= t(:"application.profiles.location.tips_hints_html") %>
    </aside>
</div>