<div id="profile" class="container edit-profile">
  <%= render 'sidebar' %>

  <div class="content">
    <header><%= t(:"application.profiles.music.title_html") %></header>
    
    <div class="left-side">
      <p><%= t(:"application.profiles.music.desc") %></p>
    </div>

    <div id="music" class="right-side">
      <div class="inputs">
        <%= render "soundcloud_form" %>
        <%= link_to "What's this?", "#", class: "link", id: "show-hint", data: { lightbox: :html, target: "[data-container='help-sc']" } %>
        <div style="display:none;" data-container="help-sc">
            <div class="devise-lightbox">
                <h2>How to copy and paste SoundCloud Embed code into your Sidestage profile</h2>
                <%= image_tag 'sc-embed-help.png' %>
            </div>
        </div>
      </div>
      
      <div class="inputs">
        <%= render "youtube_form" %>
      </div>
    </div>
  </div>
  
  <aside class="hints">
    <header><%= t(:"application.profiles.sidebar.tips_hints") %></header>
    <%= t(:"application.profiles.music.tips_hints_html") %>
  </aside>
</div>