<div id="profile" class="container">
  <aside>
    <%= render 'sidebar' %>
  </aside>

  <div class="content">
    <header>Add payout method<p>You'll need to enter your bank account details to get paid.</p></header>
    <div id="payment">
        <%= simple_form_for resource, url: payment_account_profile_path(resource) do |f| %>
          <%= f.input :iban %>
          <%= f.input :bic %>
          <div class="input">
              <input type="submit" value="Save" class="btn">
              <%= link_to "Skip", preview_account_profile_path(resource), class: "skip" %>
          </div>
      <% end %>

      <div class="footnote">
        <p>Your bank details are handled securely. We use Stripe to process payment.</p>
      </div>
    </div>
  </div>
</div>      
