<div id="profile" class="container">
  <aside>
    <%= render 'sidebar' %>
  </aside>

  <div class="content">
    <header><%= t(:"application.profiles.payment.title_html") %></header>
    <div id="payment">
        <%= simple_form_for resource, url: payment_account_profile_path(resource) do |f| %>
          <%= f.input :iban %>
          <%= f.input :bic %>
          <div class="input">
              <%= f.submit class: "btn" %>
              <%= link_to t(:"application.links.skip"), preview_account_profile_path(resource), class: "skip" %>
          </div>
      <% end %>

      <div class="footnote">
        <p><%= t(:"application.profiles.payment.security_hint") %></p>
      </div>
    </div>
  </div>
</div>      
