<div class="booking">
  <table>
    <tr>
      <!-- TODO: richtiges Format als Text -->
      <td><%= Deal.human_attribute_name(:start_at) %>:</td><td data-deal="start-at"><%= l(deal.start_at, format: :deal_start_at) %></td>
    </tr>
    <tr class="price">
      <td><%= Deal.human_attribute_name(:price) %>:</td><td><%= localized_price(deal.price_with_surcharge, deal.currency) %></td>
    </tr>
  </table>

  <hr>

  <%= link_to t(:"application.deals.show.cancel"), cancel_account_deal_path(deal), method: :put, class: "btn cancel-booking" if deal.is_customer?(current_user) %>
  <%= link_to t(:"application.deals.show.cancel"), reject_account_deal_path(deal), method: :put, class: "btn cancel-booking" if deal.is_artist?(current_user) %>

  <%= render "account/deals/help_note" %>
</div>