<%= f.input :coupon_id, as: :hidden, input_html: { id: :coupon_id } %>
<%= link_to t(:"application.deals.new.show_coupon"), "#", id: :coupon_show %>
<%= content_tag :div, id: :coupon_form, style: "display: #{f.object.coupon_code.blank? ? "none;" : nil }" do %>
    <%= f.input :coupon_code, label: false, input_html: { id: :coupon_code } %> 
    <% if action.nil? %>
        <%= f.submit t(:"application.deals.new.apply_coupon"), data: { disable_with: t(:"application.deals.new.applying_coupon") } %>
    <% else %>
        <%= button_tag t(:"application.deals.new.apply_coupon"), type: :button, id: :coupon_apply, data: { action: action, disable_text: t(:"application.deals.new.applying_coupon") } %>
    <% end %>
    <%= link_to t(:"application.deals.new.cancel_coupon"), "#", id: :coupon_cancel %>
    <span id="coupon_failure" style="display:none;"><%= t(:"application.deals.new.coupon_failure") %></span>
    <span id="coupon_success" style="display:none;"><%= t(:"application.deals.new.coupon_success") %></span>
<% end %>
