<div class="devise-lightbox pending_booking">
<div class="edit-offer">
	<header>
		<div class="photo">
			<%= image_tag deal.artist.avatar.url(:thumb), class: "avatar" %>
		</div>
		<div class="body">
			<span><strong><%= deal.profile.name %></strong></span>
		</div> 
	</header>

	<div class="body center">
		
	  <p><%= t(:"application.deals.pending.desc") %></p>
		<div class="btns">
		    <%= link_to t(:"application.artists.show.send_message"), new_account_message_path(receiver_id: deal.artist_id, format: :html), class: "btn btn-inline", data: { lightbox: "ajax" } %>
		    <%= link_to t(:"application.artists.show.view_pending"), account_bookings_path, class: "link" %>
		</div>
	</div>
</div>
</div>
