<%= simple_form_for resource, url: account_deals_path, remote: true, html: { id: 'quick-deal-request' } do |f| %>
    <%= f.input :profile_id, as: :hidden %>
	<div class="form-inputs">
		<div class="date">
			<%= f.input :start_at, as: :string, input_html: { class: "date-picker" }, label: false %>
			<i class="fa fa-calendar"></i>
		</div>
		<p class="title">
		    <%= t(:"application.conversations.deals.new.total_price") %>: 
            <span data-coupon="original_price"><%= localized_price(resource.customer_price, resource.currency) %></span>
            <span data-coupon="coupon_price" style="display: none;"></span>
		</p>
        <%= render "account/deals/coupon_form", f: f, action: apply_on_profile_account_coupons_path(profile_id: resource.profile_id) %>
        <div class="btns">
        	<%= f.submit class: "btn btn-full" %>
        </div>
    </div>
<% end %>
