<div class="devise-lightbox">
	<div class="photo">
		<%= image_tag deal.artist.avatar.url(:thumb), class: "avatar" %>
	</div>
	<div class="body">
		<span><%= t(:"application.deals.pending.title") %> <strong><%= deal.profile.name %></strong></span>
	</div> 
	<div class="text">
	    <%= t(:"application.deals.pending.desc") %>
	</div>
	<div class="btns">
	    <%= link_to t(:"application.artists.show.message_artist"), link_or_signin(new_account_message_path(receiver_id: deal.artist_id, format: :html)), class: "btn", data: { lightbox: "ajax" } %>
	    <%= link_to t(:"application.deals.show.cancel"), cancel_account_deal_path(deal), method: :put, class: "btn cancel-booking" %>
	</div>
</div>
