<div class="devise-lightbox payment_form">
	<div class="payment-form">

		<header>
			<div class="photo">
				<%= image_tag resource.artist.avatar.url(:thumb), class: "avatar" %>
			</div>
			<div class="body">
				<strong><%= resource.artist.profile.name %></strong>
			</div>
		</header>
		
		<div class="body">
			<%= simple_form_for resource, url: account_deals_path(resource), authenticity_token: true, data: { form: current_user.paymentable? ? nil : :payment }, html: { id: "deal-request" } do |f| %>
				<div class="form-inputs paymentform">
					<p>Review booking details</p>
					<div class="date">
						<%= f.input :start_at, as: :string, input_html: { class: "date-picker" }, label: false %>
						<i class="fa fa-calendar"></i>
					</div>
					<%= f.input :body, label: false %>
		    	    <%= f.input :profile_id, as: :hidden %>
		    	    <%= f.input :balanced_token, as: :hidden %>
		    	    <div class="bottom">
                        <%= render "account/payment_details/payment_form", f: f %>
                        <%= render "coupon_form", f: f, action: apply_on_profile_coupons_path(profile_id: resource.profile_id) %>
                        <div class="price">
                            <p>
                                <%= t(:"application.deals.new.total_price") %>: 
                                <%= content_tag :span, data: { coupon: :original_price }, style: "display: #{resource.coupon.nil? ? nil : "none;" }" do %>
                                    <%= localized_price(resource.customer_price, resource.currency) %>
                                <% end %>
                                <%= content_tag :span, data: { coupon: :coupon_price }, style: "display: #{resource.coupon.nil? ? "none;" : nil }" do %>
                                    <%= localized_price(resource.coupon.surcharged_profile_price(resource.profile), resource.currency) unless resource.coupon.nil? %>
                                <% end %>
                            </p>
                        </div>
		    	    </div>
		          <div class="btns">
		          	<%= f.submit class: "btn btn-center" %>
		          </div>
		    </div>
			<% end %>
			<p class="footnote"><%= t(:"application.deals.new.foot_note_html") %></p>
		</div>

	</div>
</div>