<div class="devise-lightbox">
	<h3>
	    <% unless resource.customer.paymentable? %>
	        <%= t(:"application.deals.new.title") %>
	    <% end %>
	</h3>
	<%= simple_form_for resource, url: account_deals_path(resource), authenticity_token: true, data: { form: current_user.paymentable? ? nil : :payment }, html: { id: "deal-request" } do |f| %>
		<div class="form-inputs payment-form">
	        <%= f.input :start_at, as: :string, input_html: { class: "date-picker" }, label: false %>
    	    <%= f.input :profile_id, as: :hidden %>
    	    <%= f.input :stripe_token, as: :hidden %>
            <%= render "account/payment_details/payment_form" %>
            <%= f.submit class: "btn" %>
        </div>
	<% end %>
	<div class="label"><%= t(:"application.deals.new.foot_note_html") %></div>
</div>