<div class="booking">
    <h4 class="title"><%= t(:"application.deals.show.title") %></h4>
    <p>
        <i class="fa fa-calendar"></i> <span data-deal="start-at"><%= l(deal.start_at, format: :event_date) %></span>
    </p>
    <% if deal.is_customer?(current_user) %>
        <p class="price"><%= t(:"simple_form.labels.deal.new_price") %>: <%= localized_price(deal.price_with_surcharge, deal.currency) %></p>
        <%= render "account/deals/accept_button", deal: deal %>
        <p><%= link_to t(:"application.deals.show.cancel_offer"), cancel_account_deal_path(deal), method: :put, class: "btn btn-white" %></p>
        
        
    <% else %>
        <%= render "account/deals/offerable", deal: deal %>
    <% end %>
</div>
