<tr class="price">
  <td>You'll earn:</td><td><%= localized_price(deal.price, deal.currency) %></td>
</tr>
<!-- <tr>
  <td>Status:</td><td>Pending artist confirmation</td>
</tr> -->
</table>

<hr>

<%= link_to "Confirm Booking", accept_account_deal_path(deal), method: :put, class: "btn btn-confirm" unless deal.offered? || deal.proposed? %>

<%= link_to "Change price", "#", class: "link", data: { lightbox: :html, target: "[data-container='new-offer']" } %>
<!--<p class="footnote">You can increase the pricing for this specific event to cover additional costs, time or travel.</p>-->

<%= link_to "Decline booking", decline_account_deal_path(deal), method: :put, class: "link" %>
<%= render "account/deals/update_price", deal: deal %>