<tr class="price artist">
  <td>You'll earn:</td><td><%= localized_price(deal.price, deal.currency) %></td>
</tr>
<tr>
  <!-- TODO: pending Status -->
  <td>Status:</td><td>Pending artist confirmation</td>
</tr>
</table>

<hr>

<%= link_to "Confirm Booking", accept_account_deal_path(deal), method: :put, class: "btn btn-confirm" unless deal.offered? %>

<%= link_to "Change price", "#", class: "link", data: { lightbox: :html, target: "[data-container='new-offer']" } %>
<!--<p class="footnote">You can increase the pricing for this specific event to cover additional costs, time or travel.</p>-->

<%= link_to "Decline booking", decline_account_deal_path(deal), method: :put, class: "link" %>

<div style="display:none;" data-container="new-offer">
  <div class="devise-lightbox">
    <h2>How much would you like to earn for this event?</h2>
    <h4>Old price: <%= localized_price(deal.price, deal.currency) %></h4>
    <%= simple_form_for deal, url: offer_account_deal_path(deal), remote: true do |f| %>
      <%= f.input :price, as: :string, label: "New Price" %>
      <%= f.button :submit, value: "Update price", class: "btn btn-submit" %>
  	<% end %>
  	<p class="label">
	    This is a one-time pricing change for this specific request. To update pricing
	    on your public profile, visit your Listing settings.
  	</p>
  </div>
</div>