<tr class="price">
  <td>You'll earn:</td><td><%= localized_price(deal.price, deal.currency) %></td>
</tr>
<!-- <tr>
  <td>Status:</td><td>Pending artist confirmation</td>
</tr> -->
</table>

<hr>

<%= link_to "Confirm Booking", accept_account_deal_path(deal), method: :put, class: "btn btn-confirm" unless deal.offered? %>

<%= link_to "Change price", "#", class: "link", data: { lightbox: :html, target: "[data-container='new-offer']" } %>
<!--<p class="footnote">You can increase the pricing for this specific event to cover additional costs, time or travel.</p>-->

<%= link_to "Decline booking", decline_account_deal_path(deal), method: :put, class: "link" %>

<div style="display:none;" data-container="new-offer">
  <div class="devise-lightbox update_price">
    <h3>Update price</h3>
    <p>To cover additional costs, you can make a one-time pricechange for this booking.</p>
    <%= simple_form_for deal, url: offer_account_deal_path(deal), remote: true do |f| %>
      <label>New price:</label>
      <%= f.input :price, as: :string, label: false %>
      <span class="old_price">(Old price: <%= localized_price(deal.price, deal.currency) %>)</span>
      <%= f.button :submit, value: "Send updated price", class: "btn btn-submit" %>
  	<% end %>
  	<p>This will not change the pricing on your profile listing. To update your pricing on your profile, visit your listing settings.</p>
  </div>
</div>