<div class="booking">
    <h4 class="title"><%= t(:"application.deals.show.title") %></h4>
    <p class="event-date">
        <i class="fa fa-calendar"></i> <span data-deal="start-at"><%= l(deal.start_at, format: :event_date) %></span>
    </p>
    <p class="price">
        <% if deal.is_customer?(current_user) %>
            <%= Deal.human_attribute_name(:price) %>: <%= localized_price(deal.price_for_customer, deal.currency) %>
         <% else %>
            <%= t(:"application.deals.show.you_will_earn") %>: <strong><%= localized_price(deal.price, deal.currency) %></strong>
        <% end %> 
    </p>

    <% if deal.is_customer?(current_user) %>
        <p><%= link_to t(:"application.deals.show.accept"), confirm_account_deal_path(deal), method: :put, class: "btn" %></p>
        <p><%= link_to t(:"application.deals.show.cancel_proposal"), cancel_account_deal_path(deal), method: :put, class: "btn btn-white" %></p>
    <% else %>
        <p><%= link_to t(:"application.deals.show.cancel"), decline_account_deal_path(deal), method: :put, class: "btn btn-white" %></p>
    <% end %>
</div>
