<div class="booking">
  <table>
    <tr>
      <td><%= Deal.human_attribute_name(:start_at) %>:</td><td data-deal="start-at"><%= l(deal.start_at, format: :event_date) %></td>
    </tr>
  <% if deal.is_customer?(current_user) %>
    <tr class="price customer">
      <td><%= Deal.human_attribute_name(:price_for_customer) %>:</td><td><%= localized_price(deal.price_with_surcharge, deal.currency) %></td>
    </tr>
    <!-- <tr>
      <td>Status:</td><td>Pending artist confirmation</td>
    </tr> -->
  </table>

  <hr>

  <%= link_to t(:"application.deals.show.cancel"), cancel_account_deal_path(deal), method: :put, class: "btn cancel-booking" %>
  <% else %>
    <%= render "account/deals/offerable", deal: deal %>
  <% end %>
  <p class="footnote">Need help? Contact <a href="mailto:support@sidestage.com" class="link">support@sidestage.com</a></p>
</div>