<div style="display:none;" data-container="new-offer">
  <div class="devise-lightbox update_price">
    <h3><%= t(:"application.deals.update.title") %></h3>
    <p><%= t(:"application.deals.update.desc") %></p>
    <%= simple_form_for deal, url: offer_account_deal_path(deal), remote: true do |f| %>
      <label><%= t(:"simple_form.labels.deal.new_price") %>:</label>
      <%= f.input :price, as: :string, label: false %>
      <span class="old_price">(<%= t(:"simple_form.labels.deal.old_price") %>: <%= localized_price(deal.price, deal.currency) %>)</span>
      <%= f.button :submit, value: t(:"helpers.submit.deal.update_price"), class: "btn btn-submit" %>
  	<% end %>
  	<p><%= t(:"application.deals.update.change_price_footer") %></p>
  </div>
</div>
