vex.closeAll();
<% if resource.errors.present? %>
    vex.closeAll();
    vex.open({ content: "<%= j render("form").strip.html_safe %>" });
<% else %>
    vex.open({showCloseButton: false, content: "<form class='vex-dialog-form'><h3>Your booking request was sent to <%= resource.artist.profile_name %> for <%= l(resource.start_at, format: :event_date) %></h3><p>We'll notify you once your request is accepted or not.</p> <br/> <p>You can cancel your booking request by clicking the Message icon > <%= resource.artist.profile_name %> and then Cancel in the conversation view.</p> <%= j(link_to "OK", account_conversation_path(resource.conversation), class: "vix-dialog-button-primary vex-dialog-button-vex-first") %> <%= j(link_to "Cancel booking request", cancel_account_deal_path(resource), method: :put, class: "cancel-link") %></form>"});
<% end %>