<div class="booking-teaser">
    <div class="label">Price</div>
    <div class="price">
        <%= localized_price(deal.price, deal.currency) %>
    </div>
    <div class="label">
        start:<br>
        <span data-deal="start-at"><%= l(deal.start_at, format: :deal_start_at) %></span>
        <%= link_to "<i class='fa fa-pencil'></i>".html_safe, "#", data: { toggle: "#edit-deal" } %>
        <%= simple_form_for deal, url: account_deal_path(deal), html: { id: "edit-deal", style: "display:none;" }, remote: true do |f| %>
            <%= f.input :start_at, as: :string, input_html: { value: l(deal.start_at, format: :deal_start_at), class: "date-picker" }, label: false %>
	        <%= f.button :submit, class: "btn" %>
        <% end %>
        
    </div>
    <br>
    <% if deal.is_customer?(current_user) %>
        <% if deal.accepted? %>
            <div class="button">
                <div class="btn btn-submit btn-submitted">You accepted!</div>
            </div>
        <% elsif deal.confirmed? %>
            Artist Confirmed!
        <% elsif deal.offer? %>
            <%= link_to "Accept", accept_account_deal_path(deal), method: :put, class: "btn btn-submit" %>
        <% else %>
            Warten auf Antwort....
        <% end %>
    <% else %>
        <% if deal.accepted? %>
            Customer accepted!
        <% elsif deal.confirmed? %>
            You Confirmed!
        <% else %>
            <% if !deal.offer? %>
                <div class="button">
                    <%= link_to "Confirm", confirm_account_deal_path(deal), method: :put, class: "btn btn-submit" %>
                </div>
                <div class="or">
                  <div class="line"></div>
                    <span>or</span>
                  <div class="line"></div>
                </div>
            <% end %>
            <%= link_to "Make new offer", "#", class: "btn btn-submit", data: { lightbox: :html, target: "#new-deal" } %>
            <div id="new-deal" style="display:none;">
                <%= render "/account/offers/form", deal: deal %>
            </div>
        <% end %>
    <% end %>
</div>
