<div class="message">
    <div class="photo">
      <%= image_tag message.sender.avatar.url(:thumb), class: "avatar" unless message.system_message? -%>
    </div>
    <div class="body">
        <!-- TODO: Link auf das Profil des Artists setzen -->
            <%- if message.system_message? -%>
                <h3 class="ss"><span>Sidestage <%= message.created_at.strftime("%H:%M") %></span></h3>
                <p class="footnote"><%= message_body(message) %></p>
            <%- else -%>
                <h3><%= message.sender.name %><span>- <%= message.created_at.strftime("%H:%M") %></span></h3>
                <p><%= message_body(message) %></p>
            <%- end -%>
    </div>    
</div>