<div id="conversation" class="container">
  <div class="content">
    <header>
        <% negotiator = resource.negotiator_for(current_user) %>
      <%= link_to_if negotiator.artist?, negotiator.profile_name, artist_path(negotiator.profile || 1) %>
      <span class="right"><%= link_to "Archive", archive_account_conversation_path(resource), method: :put unless resource.archived_by?(current_user) %></span>
    </header>
    
    <div id="messages">
      <% resource.messages.includes(:sender).each do |message| %>
        <%= render 'account/conversations/message', message: message %>
      <% end %>
    </div>

    <div class="message new-message">
      <div class="body">
        <%= simple_form_for @message, url: account_messages_path, data: {remote: true} do |f| %>
          <%= render "/account/messages/reply_form", f: f %>
        <% end %>
      </div>
    </div>
  </div>

  <aside>
    <header><%= t(:"application.conversations.show.sidebar_title") %></header>
    <% if resource.deals.visible_in_conversation.present? %>
      <div class="deals">
          <% resource.deals.select { |d| d.rejected? }.each do |deal| %>
            <%= content_tag :div, data: { container: dom_id(deal) }, class: "deal" do %>
                <%= render "account/deals/#{deal.state}", deal: deal %>
            <% end %>
            <% break %>
          <% end %>
            
          <% resource.deals.each do |deal| %>
            <% next if deal.cancelled? || deal.rejected? || deal.declined? %>
              <%= content_tag :div, data: { container: dom_id(deal) }, class: "deal" do %>
              <%= render "account/deals/#{deal.state}", deal: deal %>
            <% end %>
          <% end %>
      </div>
    <% else %>
      <p><%= t(:"application.conversations.show.requests_empty") %></p>

      <% if current_user.artist? %>
        <%= t(:"application.conversations.show.make_offer_html", customer_name: resource.negotiator_for(current_user).profile_name) %>
        <%= link_to t(:"application.conversations.show.make_offer"), "#", class: "btn btn-confirm", data: { lightbox: :html, target: "[data-container='artist-offer']" } %>
  	    <div style="display:none;" data-container="artist-offer">
  		      <%= render "account/offers/form", resource: Deal.new(customer: resource.negotiator_for(current_user)) %>
            <script>
            jQuery(document).ready(function(){
                $('.date-picker').datetimepicker({
                  timepicker: false,
                  format: 'j/n/Y',
                  scrollInput: false,
                  minDate: '-1970/01/01',
                  onChangeDateTime: function(dp, $input) {
                    return $($input).datetimepicker('hide');
                  }
                });
            })
          </script>
        </div>
      <% end %>
      
    <% end %>
  </aside>

</div>