<div id="conversation">

    <header>
        Conversation with: <%= resource.negotiator_for(current_user).name %>
    </header>

    <div class="content">
        
        <% resource.messages.includes(:sender).each do |message| %>
            <div class="message">
                <div class="photo">
                    <%= image_tag message.sender.avatar.url(:thumb), class: "avatar" %>
                </div>
                <div class="body">
                    <h3><%= message.sender.name %> - <span><%= message.created_at.strftime("%H:%M") %></span></h3>
                    <p>
                        <%= message.body %>
                    </p>
                </div>
            </div>
        <% end %>
        <div class="message new-message">
            <div class="photo">
                <%= image_tag current_user.avatar.url(:thumb), class: "avatar" %>
            </div>
            <div class="body">
                <%= simple_form_for @message, url: account_outgoing_messages_path do |f| %>
                    <%= render "/account/outgoing_messages/form", f: f %>
                <% end %>
            </div>
        </div>

    </div>

    <% if (deal = resource.deals.last).present? %>
        <aside id="deal-teaser">
            <%= render "deal_teaser", deal: deal %>
        </aside>
    <% end %>

</div>
