<div id="conversation" class="container">
  <div class="content">
    <header><%= resource.negotiator_for(current_user).profile_name %></header>
    
    <div id="messages">
      <% resource.messages.includes(:sender).each do |message| %>
        <%= render 'account/conversations/message', message: message %>
      <% end %>
    </div>

    <div class="message new-message">
      <div class="body">
        <%= simple_form_for @message, url: account_messages_path, data: {remote: true} do |f| %>
          <%= render "/account/messages/reply_form", f: f %>
        <% end %>
      </div>
    </div>
  </div>

  <aside>
    <header>Booking Details</header>
    <% if resource.deals.visible_in_conversation.present? %>
      <div class="deals">
          <% resource.deals.select { |d| d.rejected? }.each do |deal| %>
            <%= content_tag :div, data: { container: dom_id(deal) }, class: "deal" do %>
                <%= render "account/deals/#{deal.state}", deal: deal %>
            <% end %>
            <% break %>
          <% end %>
            
          <% resource.deals.each do |deal| %>
            <% next if deal.cancelled? || deal.rejected? || deal.declined? %>
              <%= content_tag :div, data: { container: dom_id(deal) }, class: "deal" do %>
              <%= render "account/deals/#{deal.state}", deal: deal %>
            <% end %>
          <% end %>
      </div>
    <% else %>
      <p>There is currently no booking request made.</p>

      <% if current_user.artist? %>
        Make <%= resource.negotiator_for(current_user).profile_name %> an offer to play at their next event.
        <%= link_to "Make offer", "#", class: "btn btn-confirm", data: { lightbox: :html, target: "[data-container='artist-offer']" } %>
  	    <div style="display:none;" data-container="artist-offer">
  		  <div class="devise-lightbox new-offer">
  		      <%= render "account/offers/form", resource: Deal.new(customer: resource.negotiator_for(current_user)) %>
    	  </div>
        </div>
      <% end %>
      
    <% end %>
  </aside>

</div>