<h2>Conversation with: <%= resource.negotiator_for(current_user).name %>
<% resource.messages.each do |message| %>
	<h1><%= message.sender.name %></h1>
	<p>
		<%= message.body %>
	</p>
<% end %>

Reply
<%= simple_form_for @message, url: account_outgoing_messages_path do |f| %>
	<%= render "/account/outgoing_messages/form", f: f %>
<% end %>	
<hr>

<% if (deal = resource.deals.last).present? %>
    <p>
        <b>Price: </b><%= number_to_currency(price_in_current_currency(deal.price, deal.artist.currency), unit: current_currency.name) %>
    </p>
    <p>    
        <b>start: </b><%= deal.start_at %>
    </p>
    
    <% if deal.is_customer?(current_user) %>
        <% if deal.accepted? %>
            You accepted!
        <% elsif deal.confirmed? %>
            Artist Confirmed!
        <% elsif deal.offer? %>
            <%= link_to "Accept", accept_account_deal_path(deal), method: :put %>
        <% else %>
            Warten auf Antwort....
        <% end %>
    <% else %>
        <% if deal.accepted? %>
            Customer accepted!
        <% elsif deal.confirmed? %>
            You Confirmed!
        <% else %>
            <% if !deal.offer? %>
                <p>
                    <%= link_to "Confirm", confirm_account_deal_path(deal), method: :put %>
                </p>
            <% end %>
            <p>
                <%= render "/account/offers/form", deal: deal %>
            </p>
            <% end %>
    <% end %>
<% end %>