<div id="conversation" class="container">
  <header>
      <% negotiator = resource.negotiator_for(current_user) %>
    <%= t(:"application.conversations.show.conversation_with")%> <%= link_to_if negotiator.artist?, negotiator.profile_name, artist_path(negotiator.profile || 1) %>
    <span class="right"><%= link_to "Archive", archive_account_conversation_path(resource), method: :put unless resource.archived_by?(current_user) %></span>
  </header>

  <aside>
    <div class="booking-widget">
      <header>
        <div class="photo">
          <%= image_tag negotiator.avatar.url(:thumb), class: "avatar" %>
        </div>
        <div class="body">
          <%= negotiator.profile_name %>
        </div>
      </header>

      <div class="body">
        <% if resource.deals.visible_in_conversation.present? %>

          <div class="deals">
              <% resource.deals.visible_in_conversation.each do |deal| %>
                <%= content_tag :div, data: { container: dom_id(deal) }, class: "deal" do %>
                    <%= render "account/deals/#{deal.state}", deal: deal %>
                <% end %>
              <% end %>
          </div>

        <% else %>
          <h4 class="title"><%= t(:"application.deals.show.title") %></h4>

          <% if current_user.artist? %>
              
              <div class="new-offer" id="offer-form">
                  <%= render "account/offers/form", resource: Deal.new(price: current_user.profile.price, profile: current_user.profile, customer: negotiator) %>
              </div>
              
          <% elsif artist_contactable?(negotiator) %>
            <%= render "account/deals/client_conversation_form", resource: Deal.new(price: negotiator.profile.price, profile: negotiator.profile, artist: negotiator) %>
          <% end %>

        <% end %>

      </div>
    </div>

    <div class="secure-text">
      <div class="header"><i class="fa fa-lock"></i> <%= t(:"application.conversations.show.security_hint_title") %></div>
      <p><%= t(:"application.conversations.show.security_hint_body_html") %></p>
    </div>
  </aside>

  <div class="content">
    <div class="message new-message">
      <div class="body">
        <%= simple_form_for @message, url: account_messages_path, data: {remote: true} do |f| %>
          <%= render "/account/messages/reply_form", f: f %>
        <% end %>
      </div>
    </div>

    <div id="messages">
      <% resource.messages.includes(:sender).latest.each do |message| %>
        <%= render 'account/conversations/message', message: message %>
      <% end %>
    </div>
  </div>

</div>