<div id="conversation" class="container">
  <div class="content">
    <header><%= resource.negotiator_for(current_user).name %></header>
    
    <div id="messages">
      <% resource.messages.includes(:sender).each do |message| %>
        <%= render 'account/conversations/message', message: message %>
      <% end %>
    </div>

    <div class="message new-message">
      <div class="body">
        <%= simple_form_for @message, url: account_messages_path, data: {remote: true} do |f| %>
          <%= render "/account/messages/reply_form", f: f %>
        <% end %>
      </div>
    </div>
  </div>

  <aside>
    <div class="deals">
      <% resource.deals.select { |d| d.rejected? }.each do |deal| %>
        <%= content_tag :div, data: { container: dom_id(deal) }, class: "deal" do %>
            <%= render "account/deals/#{deal.state}", deal: deal %>
        <% end %>
        <% break %>
      <% end %>
        
      <% resource.deals.each do |deal| %>
        <% next if deal.cancelled? || deal.rejected? || deal.declined? %>
          <%= content_tag :div, data: { container: dom_id(deal) }, class: "deal" do %>
          <%= render "account/deals/#{deal.state}", deal: deal %>
        <% end %>
      <% end %>
    </div>
  </aside>

</div>
<script>
  $(window).scroll(function(e) {
    // Get the position of the location where the scroller starts.
    var scroller_anchor = $("aside").offset().top;
     
    // Check if the user has scrolled and the current position is after the scroller start location and if its not already fixed at the top
    if ($(this).scrollTop() >= scroller_anchor && $('.scroller').css('position') != 'fixed')
    {    // Change the CSS of the scroller to hilight it and fix it at the top of the screen.
        $('.deals').css({
            'position': 'fixed',
            'top': '36px',
            'width': '314px'
        });
    }
    else if ($(this).scrollTop() < scroller_anchor && $('.scroller').css('position') != 'relative')
    {    // If the user has scrolled back to the location above the scroller anchor place it back into the content.
         
        // Change the CSS and put it back to its original position.
        $('.deals').css({
            'position': 'relative',
            'top': '0'
        });
    }
  });
</script>