<section class="express-booking index">
    <%= image_tag 'sprite/sidestage-logo.png' %>
	<p><%= t(:"application.express_bookings.index.desc") %></p>

	<%= simple_form_for :event, url: sign_up_express_bookings_path do |f| %>
    	<div class="text-with-select">
    		<p><%= t(:"simple_form.labels.event.booking_for") %></p>
    		<%= nice_select(f.select :booking_for , options_for_select(Event.human_attribute_name(:booking_for_values)), include_blank: false) %>
    	</div>

    	<div class="btns">
    	    <%= f.submit t(:"application.devise.facebook_signin"), class: "btn btn-inline" %>
    	</div>
	<% end %>

    <p class="light"><%= t(:"application.express_bookings.index.footer_hint_html") %></p>
</section>