<% @social_desc = "I'm having a musician over to do a small private show RSVP to join" %>

<section class="express-booking invite-friends">
	<p><strong>Invite your friends</strong></p>

    <%= simple_form_for resource, url: invite_friends_account_host_event_path(resource), remote: true do |f| %>
        <%= f.input :friends_emails, label: false, placeholder: "Add friend's emails (separated by comma)" %>
        <div class="btns">
    	    <input type="submit" value="Send" class="btn btn-inline">
    	    <span data-invite="success" style="display:none;margin-left: 15px;color:green;">Invitation sent!</span>
	    </div>
    <% end %>
    <input type="text" value="<%= event_url(resource, locale: nil) %>" readonly="readonly" style="color:#aaa;" onclick="this.focus();this.select()" />

    <p class="share">
        <span>Share:</span>
        <%= link_to "<i class='fa fa-facebook'></i>".html_safe, facebook_share_url(event_url(resource)), target: :_blank, onclick: "window.open(this.href, 'mywin', 'left=400,top=200,width=514,height=300,toolbar=1,resizable=0'); return false;" %>
        <%= link_to "<i class='fa fa-twitter'></i>".html_safe, twitter_share_url("I'm having a musician over to do a small private show RSVP to join ", event_url(resource), "sidestagehq"), target: :_blank %>
    </p>
</section>