<div id="edit-pictures" class="container">
  <aside>
    <%= render 'account/profiles/sidebar', resource: current_user.profile %>
  </aside>

  <div class="content">
    <header>Profile picture<p>This is the picture that will show up in search listings.</p></header>
    <div class="avatar">
      <% if current_user.avatar.present? %>
         <%= content_tag :div, id: "avatar_#{dom_id(current_user)}", class: "avatar-pic" do %>
            <div class="img">
          		<%= image_tag current_user.avatar.url(:thumb) %>
            </div>
            <div class="gradient-overlay"></div>
            <div class="actions">
              <%= link_to "<i class='fa fa-trash-o'></i> remove".html_safe, destroy_avatar_account_personal_path, method: :delete, data: { remote: true, confirm: "Are you absolutely sure?" } %>
            </div>
          <% end %>
      <% end %>
      
      <div class="avatar-form">
        <%= simple_form_for current_user, url: upload_avatar_account_personal_path, html: { multipart: true } do |f| %>
            <%= f.input :avatar, as: :file, label: "Select Profile picture" %>
            <input type="submit" value="Upload" class="btn">
        <% end %>
      </div>
    </div>


    <header>Photos<p>These photos will show up as part of your public artist listing. Try to use high quality photos.</p></header>
    
    <div id="pictures">
        <% if collection.present? %>
            <%= render collection %>
        <% else %>    
            <p class="light">You don't have any photos yet. Add photos of you and your performance to your profile.</p>
        <% end %>
    </div>

    <div id="picture-upload">
      <h3>Upload New Pictures</h3>
      <%= form_tag(account_profile_pictures_path(parent), multipart: true, id: "new_picture", method: :post) do %>
          <%= file_field_tag 'file', accept: 'image/png,image/gif,image/jpeg', multiple: true %>
         
       <%- if false -%> <a href="#" id="fileupload-button">Upload Pictures</a> <%- end -%>
      <% end %>
      <% if false %><div id="file-upload-status">Upload still running. <span class="value">0</span> left …</div><%- end -%>
    </div>

    <%= link_to "Continue", "payment", class: "btn continue" %>

  </div>
</div>
