<div id="edit-pictures" class="container">
  <aside>
    <%= render 'account/profiles/sidebar', resource: current_user.profile %>
  </aside>

  <div class="content">
    <header>Uploaded Avatar</header>
      <% if current_user.avatar.present? %>
          <%= content_tag :div, id: "avatar_#{dom_id(current_user)}", class: "picture" do %>
          	<div class="img">
          		<%= image_tag current_user.avatar.url(:big) %>
          	</div>
            <div class="actions">
              <%= link_to "delete", destroy_avatar_account_personal_path, method: :delete, data: { remote: true, confirm: "Are you absolutely sure?" } %>
            </div>
          <% end %>
      <% end %>
      
      <%= simple_form_for current_user, url: upload_avatar_account_personal_path, html: { multipart: true } do |f| %>
          <%= f.input :avatar, as: :file, label: "Select Profile picture" %>
          <input type="submit" value="Upload">
      <% end %>



    <header>Uploaded Pictures</header>
    
    <div id="pictures">
        <% if collection.present? %>
            <%= render collection %>
        <% else %>    
            <p>You don't have pictures, yet.</p>
        <% end %>
    </div>

    <div id="picture-upload">
      <h3>Upload New Pictures</h3>
      <%= form_tag(account_profile_pictures_path(parent), multipart: true, id: "new_picture", method: :post) do %>
          <%= file_field_tag 'file', accept: 'image/png,image/gif,image/jpeg', multiple: true %>
         
       <%- if false -%> <a href="#" id="fileupload-button">Upload Pictures</a> <%- end -%>
      <% end %>
      <% if false %><div id="file-upload-status">Upload still running. <span class="value">0</span> left …</div><%- end -%>
    </div>

  </div>
</div>
