<div id="edit-pictures" class="container edit-profile">
  <%= render 'account/profiles/sidebar', resource: current_user.profile %>

  <div class="content">
    <header><%= t(:"application.profiles.pictures.index.title_html") %></header>
    
    <div id="picture-upload" class="picture-upload">
        <%= form_tag(account_profile_pictures_path, multipart: true, id: "new_picture", method: :post) do %>
            <div data-upload="trigger" style="display:none;">
                <%= file_field_tag 'file', accept: 'image/png,image/gif,image/jpeg', multiple: true %>
            </div>
            
            <% if collection.present? %>
              <span data-upload="button" id="fileupload-button" class="btn btn-blue btn-inline">Add photos</span>
            <% end %>
        <% end %>
      <div id="file-upload-status" style="display:none;"><div class="value" style=""></div></div>
    </div>

    <div id="pictures" class="pictures">
        <% if collection.present? %>
          <%= render collection %>
        <% else %>
          <%= render "no_pictures" %>
        <% end %>
    </div>
  </div>

  <aside class="hints">
    <header><%= t(:"application.profiles.sidebar.tips_hints") %></header>
  </aside>
</div>
