<div id="edit-pictures" class="container">
  <aside>
    <%= render 'account/profiles/sidebar', resource: current_user.profile %>
  </aside>

  <div class="content">
    <header>Uploaded Avatar</header>

    <div class="avatar">
      <% if parent.avatar.present? %>
          <%= content_tag :div, id: dom_id(parent), class: "avatar-pic" do %>
            <div class="img">
              <%= image_tag parent.avatar.url(:big) %>
            </div>
            <div class="actions">
              <%= link_to "delete", destroy_avatar_account_profile_path(parent), method: :delete, data: { remote: true, confirm: "Are you absolutely sure?" } %>
            </div>
          <% end %>
      <% end %>
      
      <div class="avatar-form">
        <%= simple_form_for parent, url: upload_avatar_account_profile_path(parent), html: { multipart: true } do |f| %>
            <%= f.input :avatar, as: :file, label: "Select Profile picture" %>
            <input type="submit" value="Upload" class="btn">
        <% end %>
      </div>
    </div>


    <header>Uploaded Pictures</header>
    
    <div id="pictures">
        <% if collection.present? %>
            <%= render collection %>
        <% else %>    
            <p>You don't have pictures, yet.</p>
        <% end %>
    </div>

    <div id="picture-upload">
      <h3>Upload New Pictures</h3>
      <%= form_tag(account_profile_pictures_path(parent), multipart: true, id: "new_picture", method: :post) do %>
          <%= file_field_tag 'file', accept: 'image/png,image/gif,image/jpeg', multiple: true %>
         
       <%- if false -%> <a href="#" id="fileupload-button">Upload Pictures</a> <%- end -%>
      <% end %>
      <% if false %><div id="file-upload-status">Upload still running. <span class="value">0</span> left …</div><%- end -%>
    </div>

  </div>
</div>
