<!-- Box -->
	<div style="border: 1px solid #DDD; float: left; width: 100%; margin-bottom: 30px;">
	
	<!-- Header -->
	<div style="float: left; width: 100%; text-align: center; margin-bottom: 30px; background-image: url(<%= @profile.avatar.url(:preview) %>); background-size: cover; background-repeat: no-repeat; background-position: center;">
		<div style="width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); text-align: center; padding: 6%; color: white;">
			<h2 style="font-weight: 600; font-size: 48px; margin: 0 0 30px;"><%= @profile.name %></h2>
			<h3 style="font-weight: 500; font-size: 26px;">Now on Sidestage</h3>
		</div>
	</div>

	<!-- Avatar -->
	<div style="float: left; width: 100%; text-align: center; margin-bottom: 50px;">
		<img src="<%= @profile.user.avatar.url(:thumb) %>" width="100" style="border-radius:50px;">
	</div>

	<div style="float: left; width: 100%; text-align: center; margin-bottom: 30px;">
		Book <%= @profile.name %> on Sidestage!
	</div>

	<% if @coupon.present? %>
	    <div style="float: left; width: 100%; text-align: center; margin-bottom: 30px;">
	    	Get <%= number_to_currency(@coupon.amount, unit: @currency.symbol, precision: 0) %> off when booking by using code <%= @coupon.code %>
	    </div>
	<% end %>

	<!-- Footer w Button -->
	<div style="float: left; width: 100%; text-align: center; padding: 15px 15px 30px; background-color: #F1F1F1; border-top: 1px solid #DDD;">
		<%= link_to "Check out #{@profile.name}", artist_url(@profile), style: "padding: 20px 22px 18px; background: #D0021B; color: #fff; font-weight: 600; font-size: 14px; display: block; text-decoration: none;" %>
	</div>

</div>