<tr>
    <td><%= image_tag user.avatar.url(:thumb), class: "avatar", style: "height:36px;width:36px" %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
        <%= user.mobile_nr %>
        <% if user.mobile_nr_confirmed? %>
            <br/>
            <span class="badge">Conf: <%= l user.mobile_nr_confirmed_at, format: :only_date %></span>
        <% end %>
    </td>
    <td><%= user.unread_message_counter %></td>
    <td><%= bool_label(user.paymentable?) %></td>
    <td><%= link_to "backdoor", backdoor_admin_user_path(user), class: "badge" %></td>
    <td class="text-right">
        <%= link_to_bool user.verified? , toggle_verification_admin_user_path(user), "Unverify", "Verify" %>
        
        <%= link_to "Confirm", confirm_admin_user_path(user), method: :put, class: "btn btn-success", title: "Confirm Email" unless user.confirmed? %>
        <%= link_to admin_user_path(user), method: :delete, data: { confirm: "Are you sure?" }, title: "Delete", class: "btn btn-danger" do %>
            <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        

    </td>
</tr>    