<% @profile = resource.profile %>
<h1><%= resource.full_name %> <%= link_to "backdoor", backdoor_admin_user_path(resource), class: "badge" %></span></h1>
<div class="well well-lg col-md-12">
    <div class="col-md-12">
        <div class="col-md-4">
            <div class="col-md-4">
                <%= image_tag resource.avatar.mini.url if resource.has_avatar? %>
            </div>
            <% if @profile.present? %>
                <div class="col-md-4">
                    <%= link_to "Publish", toggle_admin_profile_path(@profile), method: :put, class: "btn btn-success", style: "margin-bottom:10px;" unless @profile.published? %>
                    <%= link_to "Unpublish", toggle_admin_profile_path(@profile), method: :put, class: "btn btn-success", style: "margin-bottom:10px;" if @profile.published? %>
                    <%= link_to "Disable", toggle_admin_disabled_admin_profile_path(@profile), method: :put, class: "btn btn-success" unless @profile.admin_disabled? %>
                    <%= link_to "Enable", toggle_admin_disabled_admin_profile_path(@profile), method: :put, class: "btn btn-success" if @profile.admin_disabled? %>
                </div>
                <div class="col-md-4">
                    <%= link_to @profile.featured? ? "Unfeature?" : "Feature?", toggle_featured_admin_profile_path(@profile), method: :put, class: "btn btn-danger" %>
                </div>
            <% end %>
        </div>

        <div class="pull-right">
            <% if @profile.present? %>
                Delete Profile
                <a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
            <% end %>
        </div>
    </div>

    <div class="col-md-12" style="margin-top:20px;">
        <div class="col-md-4">
            <div class="col-md-12">
                <%= mail_to resource.email %><br/>
                <strong>Phone:</strong> <%= resource.mobile_nr %> <span class="badge"><%= resource.mobile_nr_confirmed_at if resource.mobile_nr_confirmed_at.present? %></span><br/><br/>

                <strong>Account created:</strong> <%= l resource.created_at %><br/>
                <strong>Account confirmed:</strong> <%= l resource.confirmed_at if resource.confirmed_at.present? %><br/><br/>
                <strong>Total unread messages:</strong> <span class="badge"><%= resource.unread_message_counter %></span>
            </div>
        </div>

        <% if @profile.present? %>
            <div class="col-md-2">
                <p>
                    <%= @profile.genres.map(&:name).join(", ") %>
                </p>
                <a href="#">Edit tags</a>

                <p style="margin-top: 20px;"><strong>Payout Ready</strong></p>
                <p>
                    <label style="margin-right: 20px;"><%= bool_label(resource.paymentable?) %></label>
                    <%= link_to "Details", "#", data: { toggle: "modal", target: "#bank_details_#{dom_id(@profile)}" } %>
                    <%= render "modal_profile_bank_details", profile: @profile, id: "bank_details_#{dom_id(@profile)}" %>                    
                </p>

                <p style="margin-top: 20px;">
                    <%= link_to "Facebook", @profile.facebook, style: "margin-right: 20px;" if @profile.facebook.present? %>
                    <%= link_to "Twitter", @profile.twitter if @profile.twitter.present? %>
                </p>
            </div>

            <div class="col-md-6">
                <% unless @profile.soundcloud.blank? %>
                    <div class="col-md-6" style="height:150px;"><%= soundcloud_widget_res %></div>
                <% end %>
                <% unless @profile.youtube.blank? %>
                    <div class="col-md-6" style="height:150px;"><%= youtube_widget_res %></div>
                <% end %>
            </div>
        <% end %>
        
    </div>
</div>
<% if resource.anything_captured_from_facebook? %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Facebook</h3>
        </div>
        <div class="panel-body">
            fb_first_name: <%= resource.fb_first_name %><br/>
            fb_last_name: <%= resource.fb_last_name %><br/>
            fb_gender: <%= resource.fb_gender %><br/>
            fb_locale: <%= resource.fb_last_name %><br/>
            fb_timezone: <%= resource.fb_timezone %><br/>
            fb_link: <%= resource.fb_link %>
        </div>
    </div>
<% end %>

<% if @profile.present? %>
    <%#= render partial: "artists/profile" %>
    <table class="table table-striped table-hover">
        <thead>
            <th>City</th>
            <th>Price</th>
            <th>Description</th>
            <th>Photos</th>
            <th>Header</th>
            <th>Reviews</th>
            <th>Bookings</th>
        </thead>
        <tbody>
            <tr>
                <td><%= @profile.location %></td>
                <td><%= @profile.price %></td>
                <td><%= @profile.about %></td>
                <td><%= @profile.pictures.size %></td>
                <td><%= @profile.avatar.blank? ? "No" : "Yes" %></td>
                <td><%= @profile.reviews.size %></td>
                <td><%= @profile.user.bookings.size %></td>
            </tr>
        </tbody>
    </table>
<% end %>