<footer>
  <div class="wrap">
    <nav class="left">
      <div class="legal">
        <h4>Company</h4>
        <ul>
          <li><%= link_to "Press", press_path %></li>
          <li><%= link_to "Team", "https://angel.co/sidestage", target: "_blank" %></li>
          <li><%= link_to "Terms", terms_path %></li>
          <li><%= link_to "Privacy", privacy_path %></li>
          <li><%= link_to "Jobs", "https://angel.co/sidestage/jobs", target: "_blank" %></li>
        </ul>
      </div>

      <div class="community">
        <h4>Community</h4>
        <ul>
          <li><%= link_to "Blog", "https://medium.com/@sidestage", target: "_blank" %></li>
          <li><%= link_to "Facebook", "https://www.facebook.com/sidestageHQ", target: "_blank" %></li>
          <li><%= link_to "Twitter", "https://twitter.com/sidestagehq", target: "_blank" %></li>
        </ul>
      </div>

      <div class="get-help">
        <h4>Get Help</h4>
        <ul>
          <li><%= link_to "Cancellations", cancellations_path %></li>
          <li><%= link_to "Contact", "mailto:support@sidestage.com" %></li>
          <li><%= link_to "FAQ", faq_path %></li>
        </ul>
      </div>
    </nav>

    <nav class="right">
      <% if false %>
        <div class="select-locale">
          <div class="icon"><i class="fa fa-globe"></i></div>
      		<%= form_tag change_locale_path do |f| %>
        		<%= nice_select(select_tag( 'lang',
                                        options_from_collection_for_select(available_locales, :first, :last, I18n.locale),
                                        include_blank: false,
                                        class: "submit-on-change")
                            ) %>  
  		    <% end %>
        </div>
      <% end %>

      <!-- Currency -->
      <div class="select-currency">
        <!-- <div class="icon currency"><i class="fa fa-<%= current_currency.name.downcase %>"></i></div> -->
		    <%= form_tag change_currency_path do |f| %>
	        <%= nice_select(select_tag( 'currency',
                                      options_for_select(Currency.all.map(&:name), @current_currency.name),
                                      include_blank: false,
                                      class: "submit-on-change")
                         ) %>
		    <% end %>
      </div>
    </nav>
  </div>

  <div class="wrap copyright">
    <p>Sidestage, Inc. © <%= Time.now.year %></p>
  </div>
</footer>

<%- if Rails.env.production? -%>
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create', 'UA-51563182-1');ga('send','pageview');
</script>
<%- end -%>