<footer>
  <div class="wrap">
    
    <nav class="left">
      <%= link_to "Terms", nil %>
      <%= link_to "Privacy", nil %>
    </nav>

    <nav class="right">
      <div class="select-locale">
		<%= form_tag change_locale_path do |f| %>
      		<%= nice_select(select_tag 'lang', options_from_collection_for_select(available_locales, :first, :last, I18n.locale), include_blank: false) %>  
      		<input type="submit">
		<% end %>

      </div>
      <div class="select-currency">
		<%= form_tag change_currency_path do |f| %>
	        <%= nice_select(select_tag 'currency', options_for_select(Currency.all.map(&:name), @current_currency.name), include_blank: false) %>
      		<input type="submit">
		<% end %>
      </div>
    </nav>

  </div>  
</footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%- if Rails.env.production? -%>
<script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
  function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create', 'UA-51563182-1');ga('send','pageview');
</script>
<%- end -%>
