<header>

  <div class="wrap">
    <%# TODO: Change to root_path when splash page goes offline!!! %>
    <h1 id="logo"><%= link_to "Sidestage", artists_path %></h1>

    <div id="city-switch">
      <%= nice_select(select_tag 'current_city', options_for_select(available_locations, "Berlin"), include_blank: false) %>
    </div>

    <nav id="main-nav">

      <%- if user_signed_in? -%>
        
        <a href="<%= account_conversations_path %>" class="messages">
          <%# TODO: Mail Icon %>
          <div class="icon"><i class="fa fa-envelope"></i></div>
          <%# TODO: Real Mesage Count %>
          <div class="indicator"><%= current_user.unread_message_counter.to_i %></div>
        </a>

        <div class="user">
          <%= image_tag current_user.avatar.url(:thumb), class: "avatar" %>
          <div class="dropdown">
            <i class="fa fa-caret-up"></i>
            <hr>
            <%= link_to "Profile", artist_path(current_user) %>
            <%= link_to "Dashboard", nil %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </div>
          <div class="username"><%= current_user.name %></div>
          <div class="arrow"></div>
        </div>

      <%- else -%>

        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Create Artist Profile", new_artist_path, class: "btn btn-important btn-inline" %>

      <%- end -%>
    </nav>
  </div>

</header>
