<header>

  <div class="wrap">
    <h1 id="logo">
      <%= link_to params[:location].present? && action_name == "show" ? artists_path(location: params[:location], lng: params[:lng], lat: params[:lat]) : root_path do %>
        <%= image_tag "sprite/sidestage-logo.png" %>
      <% end %>
    </h1>

    <div id="city-switch">
        <form action="<%= artists_path %>" method="GET">
            <i class="fa fa-search"></i>
            <%= text_field_tag :location, params[:location], id: :event_place, data: { google: :event_place }, placeholder: t(:"simple_form.placeholders.location_search.location") %>
            <%= hidden_field_tag :lng, params[:lng] %>
            <%= hidden_field_tag :lat, params[:lat] %>
            <% request.query_parameters.except(:lat, :lng, :location).each do |k,v| %>
                <%= hidden_field_tag k, v %>
            <% end %>
        </form>    
    </div>
    
    <section id="match-me">
      <%= link_to "Match me", match_mes_path %>
    </section>
    
    <nav id="main-nav">

      <%- if user_signed_in? -%>
        
        <a href="<%= account_conversations_path %>" class="messages">
          <div class="icon"><i class="fa fa-envelope-o"></i></div>
          <% if current_user.unread_message_counter.to_i > 0 %>
            <div class="indicator"><%= current_user.unread_message_counter.to_i %></div>
          <% end %>
        </a>

        <div class="user">
          <div class="navi-avatar">
            <%= render "avatar" %>  
          </div>
          
          <div class="dropdown">
            <i class="fa fa-caret-up"></i>
            <hr>
            <% if current_user.profile.present? && current_user.profile.persisted? %>
                <%= link_to t(:"application.menu.invite_friends"), "#", data: { lightbox: :html, target: "[data-container='artist-invite-friend']" } %>
                <div style="display:none;" data-container="artist-invite-friend">
                    <div class="devise-lightbox center">
                        <p><strong><%= t(:"application.social.share.facebook.artist.title") %></strong></p>
                        <p><%= t(:"application.social.share.facebook.artist.desc") %></p>
                        <div class="btns">
                            <%= link_to t(:"application.profiles.preview.share_modal.share_on_fb"), facebook_share_url(artist_url(current_user.profile)), target: :_blank, class: "btn btn-facebook btn-inline" %>
                            <%= link_to t(:"application.profiles.preview.share_modal.share_on_twitter"), twitter_share_url(t(:"application.profiles.preview.share_modal.twitter_text"), "https://www.sidestage.com/"), target: :_blank, class: "link" %>
                        </div>
                    </div>    
                </div>    
                <%= link_to t(:"application.menu.your_profile"), preview_account_profile_path %>
            <% else %>    
                <%= link_to t(:"application.menu.invite_friends"), "#", data: { lightbox: :html, target: "[data-container='customer-invite-friend']" } %>
                <div style="display:none;" data-container="customer-invite-friend">
                    <div class="devise-lightbox center">
                        <p><strong><%= t(:"application.social.share.facebook.customer.title") %></strong></p>
                        <p><%= t(:"application.social.share.facebook.customer.desc") %></p>
                        <div class="btns">
                            <%= link_to t(:"application.profiles.preview.share_modal.share_on_fb"), facebook_share_url("https://www.sidestage.com/"), target: :_blank, class: "btn btn-facebook btn-inline" %>
                            <%= link_to t(:"application.profiles.preview.share_modal.share_on_twitter"), twitter_share_url(t(:"application.social.share.twitter.text"), "https://www.sidestage.com/"), target: :_blank, class: "link" %>
                        </div>
                    </div>    
                </div>    
            <% end %>
            <%#= link_to "Dashboard", account_dashboard_path %>
            <%= link_to t(:"application.menu.my_bookings"), account_bookings_path %>
            <%= link_to t(:"application.menu.account"), account_personal_path %>
            <%= link_to t(:"application.menu.log_out"), destroy_user_session_path, method: :delete %>
          </div>
          <div class="username"><%= current_user.name %></div>
          <div class="arrow"></div>
        </div>

      <%- else -%>
        <%= link_to t(:"application.menu.sign_in"), new_user_session_path  %>
        <%= link_to t(:"application.menu.sign_up"), new_user_registration_path(format: :html), data: { lightbox: :html, target: "[data-container='signup-options']" }, class: "btn btn-inline" %>
        <div style="display:none;" data-container="signup-options">
            <div class="devise-lightbox">
                <%= image_tag "sidestage_brand.png", alt: "logo_brand", class: "logo_brand" %>
                <div class="btns">
                  <%= link_to t(:"application.devise.signup_options.customer"), new_user_registration_path, class: "btn btn-blue" %>
                  <%= link_to t(:"application.devise.signup_options.artist"), new_artist_path, class: "btn btn-white" %>
                </div>
            </div>    
        </div>    
      <%- end -%>
    </nav>
  </div>

</header>
