<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sidestage</title>
  <meta name="description" content="Instantly book a musician to play at your party or event.">
  <meta name="keywords" content="Sidestage">
  <meta name="viewport" content="width=974">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <!-- FontAwesome -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- for Facebook -->
  <meta property="og:title" content="Sidestage" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="<%= yield(:social_img).present? && yield(:social_img) || "http://www.sidestage.com" %>" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:description" content="<%= yield(:social_desc).present? && yield(:social_desc) || "Find and book amazing musicians, bands and DJs." %>" />

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Sidestage" />
  <meta name="twitter:description" content="<%= yield(:social_desc).present? && yield(:social_desc) || "Find and book amazing musicians, bands and DJs." %>" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
  <%# TODO: Twitter Logo %>
  <%- if false -%>
  <meta name="twitter:image" content="http://airmusic.herokuapp.com/assets/logo.png" />
  <%- end -%>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= render "stripe_head" %>
  
  <%= yield :html_head %>
  
</head>
