<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sidestage</title>
  <meta name="description" content="Sidestage is a marketplace for hiring musicians.">
  <meta name="keywords" content="Sidestage">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <!-- for Facebook -->
  <meta property="og:title" content="Sidestage" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.sidestage.com" />
  <meta property="og:url" content="<%= request.url %>" />
  <meta property="og:description" content="Sidestage is a marketplace for hiring musicians." />

  <!-- for Twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Sidestage" />
  <meta name="twitter:description" content="Sidestage is a marketplace for hiring musicians." />
  
  <%# TODO: Twitter Logo %>
  <%- if false -%>
  <meta name="twitter:image" content="http://airmusic.herokuapp.com/assets/logo.png" />
  <%- end -%>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'application' %>

  <%= yield :html_head %>
</head>
