<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= raw(@meta_title || "Sidestage") %></title>
    <meta name="description" content="<%= raw(@meta_desc || "Find musicians, bands and DJs for your next party, event or wedding.") %>">
    <meta name="keywords" content="Sidestage">
    <meta name="viewport" content="width=974">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,600,400|Halant:300' rel='stylesheet' type='text/css'>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- FontAwesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- for Facebook -->
    <meta property="og:title" content="Sidestage" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= raw(@social_img || "http://www.sidestage.com") %>" />
    <meta property="og:url" content="<%= raw(request.url) %>" />
    <meta property="og:description" content="<%= raw(@social_desc || "Find and book amazing musicians, bands and DJs.") %>" />

    <!-- for Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= raw(@meta_title || "Sidestage") %>" />
    <meta name="twitter:description" content="<%= raw(@social_desc || "Find and book amazing musicians, bands and DJs.") %>" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <%= raw("<link rel='image_src' type='image/jpeg' href='#{ @social_img || image_url("sidestage_brand.png")}'/>") %>
    
    <%= csrf_meta_tags %>

    <!-- Google CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en"></script>
    <!-- END Google CDN -->

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= render "balanced_head" %>

    <%= yield :html_head %>
    
    <script type="text/javascript">
    (function(d){
        var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
        p.type = 'text/javascript';
        p.async = true;
        p.src = '//assets.pinterest.com/js/pinit.js';
        f.parentNode.insertBefore(p, f);
    }(document));
    </script>    
  
</head>
