<header>

  <div class="wrap">
    <%# TODO: Change to root_path when splash page goes offline!!! %>
    <h1 id="logo">
      <%= link_to root_path do %>
        <%= image_tag "sprite/sidestage-logo.png" %>
      <% end %>
    </h1>

    <div id="city-switch">
        <form action="<%= artists_path %>" method="GET">
            <% request.query_parameters.except(:location).each do |k,v| %>
                <%= hidden_field_tag k, v %>
            <% end %>
            <%= nice_select((select_tag 'location', options_for_select(available_locations, params[:location]), include_blank: false, prompt: "Choose city", class: "submit-on-change"), small: true) %>
        </form>    
    </div>

    <nav id="main-nav">

      <%- if user_signed_in? -%>
        
        <a href="<%= account_conversations_path %>" class="messages">
          <%# TODO: Mail Icon %>
          <div class="icon"><i class="fa fa-envelope"></i></div>
          <%# TODO: Real Mesage Count %>
          <% if current_user.unread_message_counter.to_i > 0 %>
            <div class="indicator"><%= current_user.unread_message_counter.to_i %></div>
          <% end %>
        </a>

        <div class="user">
          <div class="navi-avatar">
            <%= render "avatar" %>  
          </div>
          

          <div class="dropdown">
            <i class="fa fa-caret-up"></i>
            <hr>
            <% if current_user.profile.present? && current_user.profile.persisted? %>
                <%= link_to "Your Artist Profile", preview_account_profile_path(current_user.profile) %>
            <% else %>    
                <%#= link_to "Create Artist Profile", new_account_profile_path %>
            <% end %>
            <%#= link_to "Dashboard", account_dashboard_path %>
            <%= link_to "My Bookings", account_bookings_path %>
            <%= link_to "Account", account_personal_path %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </div>
          <div class="username"><%= current_user.name %></div>
          <div class="arrow"></div>
        </div>

      <%- else -%>

        <%= link_to "Create Artist Profile", new_artist_path %>
        <%= link_to "Log in", new_user_session_path(format: :html) , data: {lightbox: "ajax"} %>
        <%= link_to "Sign up", new_user_registration_path(format: :html), data: {lightbox: "ajax"}, class: "btn btn-inline" %>

      <%- end -%>
    </nav>
  </div>

</header>
