<% if user.mobile_nr_confirmed? %>
    <header><%= t(:"application.mobile_numbers.show.title") %></header>
    <p class="subtitle"><%= t(:"application.mobile_numbers.show.desc") %></p> <br>
    <p><%= user.mobile_number %> <%= link_to t(:"helpers.submit.user_as_mobile_number.remove"), account_mobile_numbers_path, method: :delete, class: "light delete-link" %></p>
    <!-- <p class="light"><%#= t(:"application.mobile_numbers.show.remove_hint") %></p> -->
<% else %>
    <header><%= t(:"application.mobile_numbers.new.title") %></header>
    <p class="subtitle"><%= t(:"application.mobile_numbers.new.desc_html") %></p>
    <%= render "account/shared/mobile_verification_form", user: User::AsMobileNumber.find(user.id) %>
<% end %>
