<div id="personals" class="container">
    
	<%= render "account/personals/sidebar" %>

    <div class="content mobile-numbers">
        <% if resource.mobile_nr_confirmed? %>
            <header>Your mobile number</header>
            <p>The mobile phone number below has been verified</p> <br>
            <p><%= resource.mobile_nr %> <%= link_to "Remove", account_mobile_numbers_path, method: :delete, class: "btn btn-inline" %></p> <br>
            <p class="light">To add a new number, remove the old one first.</p>
        <% else %>
            <header>Verify your phone number</header>
            <p>To get notifications delivered to your phone, please verify your phone number below. We won’t share your phone number with other users on the site without your persmission.</p>
            <p><i>Enter your phone number with country code (e.g +49 172 444 4444).</i></p>

            <%= simple_form_for resource, url: account_mobile_numbers_path do |f| %>
                <%= f.input :mobile_nr, input_html: { autocomplete: "off" }, label: "Mobile number (with country code)", placeholder: "e.g +49 172 222 2222" %>
                <div class="input">
                    <p>We’ll send you a text message with a verifiaction code. Enter the code in the box below.</p>
                	<%= f.button :submit, value: "Send verification code", class: "btn" %>
                </div>
            <% end %>
            <hr>
            <label>Enter code</label>
            <%= simple_form_for resource, url: confirm_account_mobile_numbers_path do |f| %>
                <%= f.input :mobile_confirmation_code, input_html: { autocomplete: "off" }, label: false %>
                <%= f.button :submit, value: "Confirm", class: "btn" %>
            <% end %>
        <% end %>
        
    </div>
</div>
