<%= content_tag :tr, id: "#{deal.state}_#{dom_id(deal)}" do %>
    <td><%= link_to deal.customer.name, admin_user_path(deal.customer) %></td>
    <td>
        <%= link_to deal.profile.name, "#", data: { toggle: "modal", target: "#user_detail_#{deal.artist_id}" }  %>
        <%= render "admin/users/modal_user_info", user: deal.artist %>
    </td>
    <td><%= link_to "View", admin_conversation_messages_path(deal.conversation), remote: true %></td>
    <td><%= localized_price (deal.charged_price / 100), deal.currency if deal.charged_price.present? %></td>
    <td><%= localized_price deal.artist_price, deal.currency %></td>
    <td><%= l(deal.start_at, format: :conversation) %></td>
    <td>
        <%= link_to "View", "#", data: { toggle: "modal", target: "#bank_details_#{dom_id(deal.profile)}" } %>
        <%= render "modal_profile_bank_details", profile: deal.profile, id: "bank_details_#{dom_id(deal.profile)}" %>
    </td>
    <td><%= link_to "Payout", toggle_payout_admin_deal_path(deal), class: "btn btn-primary", remote: true, method: :put, data: { confirm: "Are you sure?" } unless deal.paid_out? %></td>
<% end %>
