<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <%= render 'head' %>
  <body style="padding-top:60px;">
    <div id="wrap">
      <div id="main" class="clearfix">

        <%= yield :outer_wrap %>
        
        <div class="container">
          <%= render 'nav' %>
          <%= render 'flash' %>          
          <%= yield %>
        </div>

        <%#= render 'footer' %>
        
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
