<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <%= render 'head' %>
  <body>
    <div id="fb-root"></div>
    
    <div id="wrap" class="<%= 'gray_bg' if home_or_profile_page? %>">
      <div id="main" class="clearfix">

        <%= render 'cookies' %>
        
        <%= render 'header' %>
        
        <%= render 'flash' %>

        <%= yield :outer_wrap %>
        
        <div class="wrap <%= 'no-margin' if home_or_profile_page? %>">
          <%= yield %>
        </div>

        <%= render 'footer' %>
                
      </div>
    </div>

    <%= yield :olark %>
    <%= render "balanced_head" %>
    <%= render "google_analytics" %>
  </body>
</html>
