<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <%= render 'head' %>
  <body>
    
    <div id="wrap">
      <div id="main" class="clearfix">

        <%= render 'header' %>
        
        <%= render 'flash' %>

        <%= yield :outer_wrap %>
        
        <div class="wrap">
          <%= yield %>
        </div>

        <%= render 'footer' %>
        
      </div>
    </div>

    <script>
      var _gaq=[['_setAccount','UA-51563182-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>

  </body>
</html>
