<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <%= render 'head' %>
  <body class="black">
    <div id="fb-root"></div>
    
    <div id="wrap">
      <div id="main" class="clearfix">

        <%= render 'cookies' %>

        <%#= render 'flash' %>

        <div class="wrap">
          <%= yield %>

          <% unless controller_name == "express_bookings" && action_name = "index" %>
            <div class="brand">
              <img src="<%= asset_path 'sidestage_logo_light.png' %>">
            </div>
          <% end %>

        </div>

      </div>
    </div>
    
    <%= render "google_analytics" %>
    
  </body>
</html>
